Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

refactor
  .github/workflows/status.yml
Due: none

update permissions
  .github/workflows/test-app.yml
Due: none

refactor
  packages/commons/bin/utils/reporters.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

ignore jpeg
  packages/commons/.prettierignore
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/ci.yml
Due: none

fix
  apps/svelte-app/src/routes/Header.svelte
  apps/svelte-app/src/routes/about/+page.svelte
  apps/svelte-app/src/routes/sverdle/+page.svelte
Due: Lint and Test Svelte App, Release

fix
  apps/svelte-app/package.json
  apps/svelte-app/svelte.config.js
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Lint and Test Svelte App, Release

refactor
  apps/svelte-app/src/routes/styles.css
Due: Lint and Test Svelte App, Release

fix
  apps/svelte-app/yarn.lock
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

patch
  .yarn/patches/storybook-npm-9.1.10-974d1c3f53.patch
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

support linting CSF files
  apps/svelte-app/yarn.lock
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/eslint.config.ts
  packages/commons/README.md
  packages/commons/package.json
  packages/html-ui/.storybook/eslint.config.ts
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/.storybook/vite.config.ts
  packages/html-ui/eslint.config.ts
  packages/html-ui/modules.d.ts
  packages/html-ui/package.json
  packages/html-ui/src/Button/Primary.story.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/html-ui/src/Header/Header.stories.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/vitest.setup.ts
  packages/react-ui/eslint.config.ts
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/stories/Examples/Button/Button.stories.ts
  packages/react-ui/stories/Examples/Page/Page.stories.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

setup ESLint MCP servers
  .vscode/mcp.json
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/vite-main.ts
  packages/html-ui/.storybook/main.ts
  packages/react-ui/.storybook/main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  packages/commons/.storybook/vite-main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Revert "refactor"
  packages/commons/.storybook/vite-main.ts
  packages/html-ui/.storybook/main.ts
  packages/react-ui/.storybook/main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .vscode/mcp.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor (#3564)
  .vscode/mcp.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

add web automation scripts
  .github/copilot-instructions.md
  .gitignore
  bin/README.md
  bin/web-automation/README.md
  bin/web-automation/highlight.ts
  bin/web-automation/inventory.ts
  package.json
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  apps/next-app/public/highlighted-elements.png
  bin/web-automation/README.md
Due: Lint and Test Next App, Release

refactor
  .github/copilot-instructions.md
  .gitignore
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/web-automation/README.md
  bin/web-automation/highlight.ts
  bin/web-automation/inventory.ts
  bin/web-automation/utils.ts
  packages/commons/bin/utils/README.md
  packages/commons/bin/utils/functions.ts
  packages/commons/package.json
  packages/html-ui/src/Header/Header.stories.ts
  packages/react-ui/src/Header/Header.stories.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/copilot-instructions.md
  apps/svelte-app/yarn.lock
  bin/README.md
  bin/web-automation/README.md
  bin/web-automation/utils.ts
  package.json
  packages/commons/bin/README.md
  packages/commons/bin/highlight.ts
  packages/commons/bin/inventory.ts
  packages/commons/bin/utils/functions.ts
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

add script to update patches
  .github/copilot-instructions.md
  bin/apply-patch.ts
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/index.d.ts
  bin/ls-workspaces.ts
  package.json
  packages/commons/package.json
  packages/commons/prettier.config.ts
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/package.json
  tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  apps/svelte-app/package.json
  apps/svelte-app/svelte.config.js
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Lint and Test Svelte App, Release

patch
  .yarn/patches/@sveltejs-vite-plugin-svelte-npm-6.2.1-109bf2663f.patch
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
Due: Lint and Test Svelte App, Release

update formatters
  apps/next-app/next.config.js
  apps/next-app/package.json
  apps/next-app/prettier.config.mjs
  apps/next-app/src/pages/_app.tsx
  apps/next-app/src/pages/_document.tsx
  apps/next-app/src/pages/api/hello.ts
  apps/next-app/src/pages/index.tsx
  apps/next-app/src/styles/Home.module.css
  apps/next-app/src/styles/globals.css
  apps/next-app/turbo.json
  apps/next-app/vercel.json
  apps/svelte-app/package.json
  apps/svelte-app/prettier.config.js
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Lint and Test Next App, Lint and Test Svelte App, Release

refactor
  .gitignore
  .yarn/patches/@swc-node-register-npm-1.10.0-3e68312da5.patch
  .yarn/patches/next-npm-16.0.0-62f173390a.patch
  apps/next-app/.gitignore
  apps/next-app/next.config.js
  apps/next-app/package.json
  apps/next-app/prettier.config.mjs
  apps/next-app/src/pages/_app.tsx
  apps/next-app/src/pages/index.tsx
  apps/svelte-app/.gitignore
  apps/svelte-app/.prettierignore
  apps/svelte-app/package.json
  apps/svelte-app/prettier.config.js
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Lint and Test Next App, Lint and Test Svelte App, Release

fix
  bitbucket-pipelines.yml
Due: none

upgrade
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
  .nvmrc
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/index.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/types/use-at-your-own-risk.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  DEVELOPMENT.md
  LICENSE
  apps/svelte-app/package.json
  apps/svelte-app/turbo.json
  bin/esm-register.js
  bin/swc-node.js
  package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/apps.yml
  .github/workflows/test-app.yml
Due: none

revert
  .yarn/patches/@sveltejs-vite-plugin-svelte-npm-6.2.1-109bf2663f.patch
  .yarn/patches/next-npm-16.0.0-62f173390a.patch
  apps/next-app/package.json
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
Due: Lint and Test Next App, Lint and Test Svelte App, Release

upgrade next js
  .yarnrc.yml
  apps/next-app/.eslintrc.json
  apps/next-app/.yarnrc.yml
  apps/next-app/eslint.config.js
  apps/next-app/next.config.js
  apps/next-app/next.config.ts
  apps/next-app/package.json
  apps/next-app/prettier.config.js
  apps/next-app/tsconfig.json
  apps/next-app/yarn.lock
  yarn.lock
Due: Lint and Test Next App, Release

fix
  .yarn/patches/storybook-npm-9.1.10-974d1c3f53.patch
  apps/next-app/.yarnrc.yml
  package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  apps/next-app/next.config.ts
Due: Lint and Test Next App, Release

fix
  .github/workflows/renovate.yml
Due: none

refactor
  package.json
  renovate.config.cjs
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

fix
  renovate.config.cjs
Due: none

refactor
  .github/workflows/renovate.yml
Due: none
