Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Build and Test Commons:
  max-time: 5
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  - svelte-app-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=svelte-app
  - yarn install
  - yarn bootstrap
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

resolve #566 - support force run regression tests
  .github/workflows/apps.yml
  .github/workflows/ci.yml
  .github/workflows/packages.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

migrate dotenv-cli to dotenvx
  .github/workflows/test-package.yml
  DEVELOPMENT.md
  README.md
  package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  renovate.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

patch
  .yarn/patches/@dotenvx-dotenvx-npm-0.26.0-f0a78a0617.patch
  package.json
  renovate.json
  yarn.lock
Due: none

patch
  .yarn/patches/@dotenvx-dotenvx-npm-0.26.0-f0a78a0617.patch
  yarn.lock
Due: none

silence all logs
  package.json
Due: none

migrate dotenv-cli to dotenvx (#570)
  .github/workflows/test-package.yml
  .yarn/patches/@dotenvx-dotenvx-npm-0.26.0-f0a78a0617.patch
  DEVELOPMENT.md
  README.md
  package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  renovate.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

supress dotenv vault warnings
  .yarn/patches/@dotenvx-dotenvx-npm-0.26.0-f0a78a0617.patch
  yarn.lock
Due: none

set resolutions
  package.json
Due: none

update
  .vscode/settings.default.json
  DEVELOPMENT.md
  README.md
  apps/svelte-app/stylelint.config.js
  packages/commons/stylelint.config.ts
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.js
  packages/third-party/README.md
  renovate.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  packages/react-ui/stylelint.config.js
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  apps/svelte-app/stylelint.config.js
  packages/commons/stylelint.config.ts
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.js
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Migrate to Stylelint 16 (#572)
  .vscode/settings.default.json
  .yarnrc.yml
  DEVELOPMENT.md
  README.md
  apps/svelte-app/package.json
  apps/svelte-app/stylelint.config.cjs
  apps/svelte-app/stylelint.config.js
  package.json
  packages/commons/package.json
  packages/commons/stylelint.config.ts
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/html-ui/stylelint.config.cjs
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.cjs
  packages/react-ui/stylelint.config.js
  packages/third-party/.yarnrc.yml
  packages/third-party/README.md
  packages/third-party/package.json
  packages/third-party/yarn.lock
  renovate.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

override
  packages/third-party/.yarnrc.yml
Due: none

refactor
  apps/svelte-app/yarn.lock
  packages/commons/eslint.config.ts
  packages/commons/package.json
  packages/react-ui/eslint.config.ts
  packages/react-ui/modules.d.ts
  packages/react-ui/package.json
  packages/third-party/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor (#588)
  apps/svelte-app/yarn.lock
  packages/commons/eslint.config.ts
  packages/commons/package.json
  packages/react-ui/eslint.config.ts
  packages/react-ui/modules.d.ts
  packages/react-ui/package.json
  packages/third-party/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  packages/commons/eslint.config.ts
  packages/commons/modules.d.ts
  packages/react-ui/eslint.config.ts
  packages/react-ui/modules.d.ts
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  eslint.config.ts
  packages/commons/modules.d.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update comment
  bin/swc-node.js
Due: none

migrate to flat config
  .vscode/settings.default.json
  apps/svelte-app/.env.defaults
  apps/svelte-app/.eslintrc.cjs
  apps/svelte-app/eslint.config.ts
  apps/svelte-app/package.json
  apps/svelte-app/stylelint.config.js
  apps/svelte-app/tsconfig.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App

ignore
  .gitignore
  packages/commons/eslint.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  apps/svelte-app/stylelint.config.js
Due: Build and Test Svelte App

refactor
  DEVELOPMENT.md
  apps/svelte-app/package.json
  package.json
  packages/commons/package.json
  packages/commons/turbo.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  scripts/turbo.ts
  turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update
  DEVELOPMENT.md
  packages/commons/turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  bitbucket-pipelines.yml
  turbo.json
Due: none

migrate to pnpm
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/tsconfig.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App

test
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
Due: none

fix
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
Due: none

add workaround
  .github/workflows/ci.yml
Due: none

ignore empty stash
  .github/workflows/ci.yml
Due: none

keep turbo version consistent with workspace
  .github/workflows/ci.yml
Due: none

print version
  .github/workflows/ci.yml
Due: none

only query from root
  .github/workflows/ci.yml
Due: none

refactor
  .github/workflows/ci.yml
Due: none

refactor
  apps/svelte-app/tsconfig.json
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.js
  packages/third-party/README.md
  packages/third-party/package.json
  packages/third-party/yarn.lock
  scripts/bootstrap.ts
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Migrate workspaces to pnpm linker. Closes #483 (#609)
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.js
  packages/third-party/README.md
  packages/third-party/package.json
  packages/third-party/yarn.lock
  scripts/bootstrap.ts
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/ci.yml
  .vscode/settings.default.json
  .yarnrc.yml
  DEVELOPMENT.md
  apps/svelte-app/stylelint.config.js
  packages/commons/stylelint.config.ts
  packages/third-party/README.md
  packages/unplugged/.yarnrc.yml
  packages/unplugged/README.md
  packages/unplugged/package.json
  packages/unplugged/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update docs
  DEVELOPMENT.md
Due: none

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**
