Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Path conditions:
  Build and Test Commons: any of: package.json, packages/commons/**
  Build and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Build and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

update release workflow
  .github/actions/release/action.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .github/actions/release/action.yml
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .github/actions/release/action.yml
  .github/workflows/ci.yml
  .yarnrc.yml
Due: none

repository link
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/version.yml
  packages/react-ui/README.md
Due: Build and Test React UI, Build and Test Next App, Release

refactor
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/sync.yml
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .github/workflows/ci.yml
  .github/workflows/package.yml
  .github/workflows/test-app.yml
Due: none

fix
  .github/workflows/sync.yml
Due: none

fix
  .github/workflows/bitbucket.yml
  .github/workflows/sync.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

add package scope
  apps/next-app/package.json
  apps/next-app/src/pages/index.tsx
  apps/svelte-app/package.json
  apps/svelte-app/src/routes/TitleBar.scss
  apps/svelte-app/yarn.lock
  packages/html-ui/README.md
  packages/html-ui/package.json
  packages/react-ui/README.md
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.module.scss
  packages/react-ui/src/Header/Header.module.scss
  packages/react-ui/stories/Examples/Page/Page.tsx
  packages/react-ui/tsconfig.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  apps/next-app/src/pages/index.tsx
  packages/html-ui/README.md
  packages/react-ui/README.md
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .github/workflows/release.yml
  .github/workflows/test-app.yml
Due: none

fix
  .github/workflows/test-app.yml
Due: none

fix
  apps/next-app/package.json
  apps/next-app/src/pages/index.tsx
  yarn.lock
Due: Build and Test Next App, Release

version
  .yarn/versions/bfcb6b4d.yml
  .yarn/versions/fc47bfe5.yml
Due: Release

revert
  .github/actions/release/action.yml
Due: none

refactor
  .github/actions/release/action.yml
Due: none

patch
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

add weekly releases
  .github/workflows/sync.yml
Due: none

patch
  .github/workflows/renovate.yml
  .yarn/patches/storybook-npm-9.0.17-8f9db402a2.patch
  .yarn/patches/storybook-npm-9.0.18-972f38fdec.patch
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  .github/workflows/version.yml
Due: none

test
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .github/workflows/release.yml
Due: none

Revert "test"
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

support package pruning
  .github/workflows/package.yml
Due: none

lockfile
  yarn.lock
Due: none

fix
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  apps/next-app/package.json
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .github/workflows/package.yml
  packages/react-ui/tsconfig.json
Due: Build and Test React UI, Build and Test Next App, Release

fix
  .github/workflows/packages.yml
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
Due: Build and Test Svelte App, Release

fix
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test React UI, Build and Test Next App, Release

refactor
  apps/svelte-app/package.json
  package.json
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  .github/workflows/release.yml
  .github/workflows/sync.yml
Due: none
