Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

fix
  renovate.config.ts
Due: none

refactor
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/eslint-config.ts
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/vite-main.ts
  packages/commons/README.md
  packages/html-ui/.storybook/eslint-config.ts
  packages/html-ui/eslint.config.ts
  packages/react-ui/eslint.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
  packages/commons/bin/README.md
  packages/commons/bin/highlight.ts
  packages/commons/bin/inventory.ts
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Revert "revert"
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
  packages/commons/bin/README.md
  packages/commons/bin/highlight.ts
  packages/commons/bin/inventory.ts
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

revert
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

fix
  tsconfig.json
Due: none

rotate key
  .env.ci
Due: none

upgrade
  bitbucket-pipelines.yml
Due: none

clean up
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
Due: none

Revert "clean up"
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
Due: none

fix
  packages/html-ui/stories/Docs/Readme.mdx
  packages/react-ui/src/Badge/Badge.story.ts
  packages/react-ui/src/Badge/Badge.tsx
  packages/react-ui/stories/Docs/Readme.mdx
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/html-ui/README.md
  packages/react-ui/src/Badge/Badge.tsx
  packages/react-ui/stories/Docs/Add-Ons/Blocks.story.ts
  packages/react-ui/stories/Docs/Add-Ons/Markdown.tsx
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  bin/apply-versions.ts
Due: none

revert
  packages/html-ui/README.md
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  renovate.config.js
Due: none

update
  renovate.json
Due: none

fix
  bitbucket-pipelines.yml
Due: none

refactor
  .gitignore
  .yarnrc.yml
  apps/next-app/public/highlighted-elements.png
  bin/apply-patch.ts
  bin/apply-versions.ts
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/vite-main.ts
  renovate.config.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

wip
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/preview.ts
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

wip
  packages/commons/.storybook/preview.ts
  packages/html-ui/.storybook/preview.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/preview.ts
  packages/html-ui/.storybook/preview.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

lockfile
  yarn.lock
Due: none

fix
  apps/svelte-app/eslint.config.ts
Due: Lint and Test Svelte App, Release

refactor
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/types.ts
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/story-generators.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/modules.d.ts
  packages/html-ui/package.json
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/Primary.story.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/PseudoStates/Secondary.variants.ts
  packages/html-ui/src/Button/Secondary.story.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Secondary.variants.ts
  packages/html-ui/src/Header/Header.ts
  packages/react-ui/src/Button/PseudoStates/Primary.variants.tsx
  packages/react-ui/src/Button/PseudoStates/Secondary.variants.tsx
  packages/react-ui/src/Button/Sizes/Primary.variants.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update README
  bin/README.md
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/utils/README.md
  packages/commons/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

format
  packages/commons/.storybook/utils/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  apps/svelte-app/package.json
  packages/commons/.storybook/eslint-config.ts
  packages/html-ui/.storybook/eslint-config.ts
  packages/html-ui/eslint.config.ts
  packages/react-ui/eslint.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/.storybook/addons/addon-variants.ts
  packages/html-ui/.storybook/preview.ts
  packages/react-ui/.storybook/preview.ts
  packages/stylelint-config/stylelint-scss.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/addons/addon-variants.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/html-ui/.storybook/preview.ts
  packages/react-ui/.storybook/preview.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/vite-main.ts
  packages/commons/README.md
  packages/commons/package.json
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/preview.ts
  packages/react-ui/.storybook/main.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/tsconfig.dts.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .yarn/patches/vite-plugin-sass-glob-import-npm-6.0.2-b079086a71.patch
  bin/README.md
  package.json
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/addons/css-proxy.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/commons/.storybook/vite-main.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  packages/commons/.storybook/preview.ts
  packages/html-ui/.storybook/preview.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/sync.yml
Due: none

update
  .github/workflows/sync.yml
Due: none
