Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Lint and Test Commons:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/commons
  ...

Lint and Test Stylelint Config:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test HTML UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test React UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=apps/next-app
  - export PACKAGE_NAME=next-app
  - yarn install
  - yarn $WORKSPACE turbo run lint
  ...

Lint and Test Svelte App:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 15
  size: 2x
  caches:
  - pnpm
  - unplugged
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Deploy HTML UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 6
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/html-ui
  ...

Deploy React UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 6
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/react-ui
  ...

Release:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 25
  size: 2x
  caches:
  - pnpm
  - unplugged
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
  ...

lockfile
  yarn.lock
Due: none

refactor
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/utils/story-generators.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/utils/README.md
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/src/Button/PseudoStates/Primary.variants.tsx
  packages/react-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/src/Button/Sizes/Secondary.variants.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/package.yml
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.js
  packages/stylelint-config/stylelint-scss.config.ts
Due: Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  packages/html-ui/package.json
  yarn.lock
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

disable age gate
  .yarnrc.yml
Due: none

fix
  bitbucket-pipelines.yml
Due: none

fix
  .github/workflows/renovate.yml
  yarn.lock
Due: none

fix
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/utils/README.md
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/react-ui/stories/Docs/Add-Ons/Markdown.tsx
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  packages/react-ui/vite.config.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

update
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  apps/svelte-app/.yarn/sdks/svelte-language-server/bin/server.js
  apps/svelte-app/.yarn/sdks/svelte-language-server/package.json
Due: Lint and Test Svelte App, Release

update
  packages/react-ui/.storybook/main.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

refactor
  apps/next-app/package.json
  apps/next-app/src/styles/globals.css
  packages/react-ui/vite.config.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

refactor
  packages/commons/.storybook/vite-main.ts
  packages/commons/vite.config.ts
  packages/commons/vitest.config.ts
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/vitest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/.storybook/vite-main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Revert "fix"
  packages/commons/.storybook/vite-main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Revert "refactor"
  packages/commons/.storybook/vite-main.ts
  packages/commons/vite.config.ts
  packages/commons/vitest.config.ts
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/vitest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/vitest.config.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

refactor
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/functions.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/utils/functions.ts
  packages/react-ui/src/utils/README.md
  packages/react-ui/src/utils/functions.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

upgrade
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
  .nvmrc
  DEVELOPMENT.md
  bin/README.md
  package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

update
  renovate.json
Due: none

refactor
  packages/commons/.storybook/addons/README.md
  packages/commons/tsconfig.json
  packages/commons/tsconfig.vite.json
  packages/html-ui/.storybook/main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  packages/commons/tsconfig.vite.json
  packages/html-ui/.storybook/main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/utils/functions.ts
  packages/react-ui/package.json
  packages/react-ui/tsconfig.esm.json
  packages/react-ui/tsconfig.json
  yarn.lock
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

refactor (#5507)
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/utils/functions.ts
  packages/react-ui/package.json
  packages/react-ui/tsconfig.esm.json
  packages/react-ui/tsconfig.json
  yarn.lock
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

refactor
  packages/commons/.storybook/preview.ts
  packages/commons/.storybook/types.ts
  packages/commons/.storybook/utils/README.md
  packages/html-ui/.storybook/meta.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/PseudoStates/Secondary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/.storybook/meta.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/utils/functions.ts
  packages/react-ui/package.json
  packages/react-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/tsconfig.esm.json
  packages/react-ui/vite.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

alias
  packages/react-ui/tsconfig.json
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  packages/html-ui/.storybook/preview.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/vite.config.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor (#5539)
  packages/commons/.storybook/preview.ts
  packages/commons/.storybook/types.ts
  packages/commons/.storybook/utils/README.md
  packages/html-ui/.storybook/meta.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/PseudoStates/Secondary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/.storybook/meta.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/utils/functions.ts
  packages/react-ui/package.json
  packages/react-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/tsconfig.esm.json
  packages/react-ui/tsconfig.json
  packages/react-ui/vite.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/preview.ts
  packages/commons/tsconfig.json
  packages/commons/tsconfig.vite.json
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/package.json
  packages/html-ui/tsconfig.esm.json
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/package.json
  packages/react-ui/vite.config.ts
  tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
