Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

fix
  apps/next-app/yarn.lock
Due: Lint and Test Next App, Release

refactor
  DEVELOPMENT.md
  apps/next-app/.yarnrc.yml
  apps/next-app/package.json
  apps/next-app/yarn.lock
  bin/dotenv-args.js
  renovate.json
  yarn.lock
Due: Lint and Test Next App, Release

update
  .apm/instructions/javascript-typescript.instructions.md
  .github/workflows/package.yml
  .gitignore
  AGENTS.md
  DEVELOPMENT.md
  apm.lock.yaml
  apps/next-app/README.md
  apps/next-app/bin/README.md
  apps/next-app/bin/start.ts
  apps/next-app/eslint.config.ts
  apps/next-app/next.config.ts
  apps/next-app/package.json
  apps/next-app/prettier.config.js
  apps/next-app/src/pages/_app.tsx
  apps/next-app/src/pages/_document.tsx
  apps/next-app/src/pages/api/hello.ts
  apps/next-app/src/pages/index.tsx
  apps/next-app/src/styles/Home.module.css
  apps/next-app/src/styles/globals.css
  apps/next-app/tsconfig.json
  apps/next-app/yarn.lock
  bin/README.md
  packages/commons/README.md
  packages/commons/bin/README.md
  packages/commons/bin/open.ts
  packages/commons/package.json
  renovate.json
  turbo.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  apps/next-app/lint-staged.config.ts
  apps/svelte-app/lint-staged.config.js
  apps/svelte-app/lint-staged.config.ts
  lint-staged.config.js
  lint-staged.config.ts
  packages/commons/lint-staged.base.config.ts
  packages/commons/lint-staged.config.js
  packages/commons/lint-staged.config.ts
  packages/commons/package.json
  packages/html-ui/lint-staged.config.js
  packages/html-ui/lint-staged.config.ts
  packages/react-ui/lint-staged.config.js
  packages/react-ui/lint-staged.config.ts
  packages/stylelint-config/lint-staged.config.js
  packages/stylelint-config/lint-staged.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

test
  apps/next-app/package.json
Due: Lint and Test Next App, Release

test (#6119)
  apps/next-app/package.json
Due: Lint and Test Next App, Release

update
  packages/commons/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/sync.yml
Due: none

refactor
  .apm/instructions/javascript-typescript.instructions.md
  DEVELOPMENT.md
  apm.lock.yaml
  apps/svelte-app/package.json
  package.json
  packages/commons/bin/README.md
  packages/commons/bin/lint.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/package.json
  renovate.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/renovate.yml
  DEVELOPMENT.md
  renovate.config.ts
Due: none

revert
  bitbucket-pipelines.yml
  turbo.json
Due: none

refactor
  .github/workflows/renovate.yml
Due: none

update
  .apm/skills/sync/SKILL.md
  apm.lock.yaml
Due: none

update
  WORKFLOWS.md
Due: none

refactor
  WORKFLOWS.md
Due: none

update
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
Due: none

fix
  bitbucket-pipelines.yml
Due: none

upgrade
  .apm/instructions/javascript-typescript.instructions.md
  .apm/skills/sync/SKILL.md
  .env.defaults
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  WORKFLOWS.md
  apm.lock.yaml
  apps/next-app/.gitignore
  apps/next-app/README.md
  apps/next-app/bin/README.md
  apps/next-app/bin/start.ts
  apps/next-app/eslint.config.ts
  apps/next-app/package.json
  apps/next-app/turbo.json
  apps/next-app/vite.config.ts
  apps/next-app/wrangler.jsonc
  apps/next-app/yarn.lock
  apps/svelte-app/.gitignore
  apps/svelte-app/.prettierignore
  apps/svelte-app/eslint.config.ts
  apps/svelte-app/package.json
  apps/svelte-app/svelte.config.js
  apps/svelte-app/turbo.json
  apps/svelte-app/vite.config.ts
  apps/svelte-app/wrangler.jsonc
  packages/commons/.gitignore
  packages/commons/.storybook/vite-main.ts
  packages/commons/bin/README.md
  packages/commons/bin/http-server.ts
  packages/commons/bin/open.ts
  packages/commons/bin/utils/README.md
  packages/commons/bin/utils/functions.ts
  packages/commons/bin/view.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

test
  .github/workflows/test-app.yml
Due: none

test
  .yarnrc.yml
Due: none

revert
  .github/workflows/test-app.yml
  .yarnrc.yml
Due: none

refactor
  apps/next-app/.gitignore
  apps/next-app/README.md
  apps/next-app/package.json
  apps/next-app/turbo.json
  apps/next-app/vite.config.ts
  apps/next-app/yarn.lock
  yarn.lock
Due: Lint and Test Next App, Release

upgrade (#6347)
  .apm/instructions/javascript-typescript.instructions.md
  .apm/skills/sync/SKILL.md
  .env.defaults
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  WORKFLOWS.md
  apm.lock.yaml
  apps/next-app/.gitignore
  apps/next-app/README.md
  apps/next-app/bin/README.md
  apps/next-app/bin/start.ts
  apps/next-app/eslint.config.ts
  apps/next-app/package.json
  apps/next-app/turbo.json
  apps/next-app/vite.config.ts
  apps/next-app/wrangler.jsonc
  apps/next-app/yarn.lock
  apps/svelte-app/.gitignore
  apps/svelte-app/.prettierignore
  apps/svelte-app/eslint.config.ts
  apps/svelte-app/package.json
  apps/svelte-app/svelte.config.js
  apps/svelte-app/turbo.json
  apps/svelte-app/vite.config.ts
  apps/svelte-app/wrangler.jsonc
  packages/commons/.gitignore
  packages/commons/.storybook/vite-main.ts
  packages/commons/bin/README.md
  packages/commons/bin/http-server.ts
  packages/commons/bin/open.ts
  packages/commons/bin/utils/README.md
  packages/commons/bin/utils/functions.ts
  packages/commons/bin/view.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

migrate
  .github/workflows/package.yml
  .github/workflows/packages.yml
  package.json
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/README.md
  packages/commons/package.json
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/test-runner-jest.config.ts
  packages/html-ui/.storybook/vitest.config.ts
  packages/html-ui/package.json
  packages/html-ui/tsconfig.esm.json
  packages/html-ui/turbo.json
  packages/html-ui/vitest.config.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/package.yml
  apps/next-app/yarn.lock
  packages/html-ui/vitest.config.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release
