Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Build and Test Commons:
  max-time: 5
  caches:
  - yarn-a3e20043522c3d0e
  script:
  - export YARN_ENABLE_GLOBAL_CACHE=false
  - export PACKAGE_NAME=commons
  - yarn install
  - yarn workspace $PACKAGE_NAME turbo run lint && yarn workspace $PACKAGE_NAME turbo run build

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  caches:
  - yarn-a3e20043522c3d0e
  script:
  - export YARN_ENABLE_GLOBAL_CACHE=false
  - export PACKAGE_NAME=html-ui
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  caches:
  - yarn-a3e20043522c3d0e
  script:
  - export YARN_ENABLE_GLOBAL_CACHE=false
  - export PACKAGE_NAME=react-ui
  ...

Build and Test Next App:
  max-time: 15
  caches:
  - yarn-a3e20043522c3d0e
  script:
  - export YARN_ENABLE_GLOBAL_CACHE=false
  - export PACKAGE_NAME=next-app
  - yarn install
  - yarn workspace $PACKAGE_NAME turbo run lint && yarn workspace $PACKAGE_NAME turbo run build

Build and Test Svelte App:
  max-time: 15
  caches:
  - yarn-a3e20043522c3d0e
  - svelte-app-a3e20043522c3d0e
  script:
  - export YARN_ENABLE_GLOBAL_CACHE=false
  - export PACKAGE_NAME=svelte-app
  - yarn install
  - yarn bootstrap
  - yarn workspace $PACKAGE_NAME turbo run lint && yarn workspace $PACKAGE_NAME turbo run build

update
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  packages/html-ui/vite.config.ts
Due: Build and Test HTML UI, Build and Test React UI

fix
  .github/workflows/apps.yml
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/diff.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  packages/html-ui/vite.config.ts
  turbo.json
Due: Build and Test HTML UI, Build and Test React UI

upgrade
  .github/workflows/apps.yml
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  .yarnrc.yml
Due: none

upgrade
  .yarn/plugins/@yarnpkg/plugin-after-install.cjs
  .yarnrc.yml
Due: none

improve cache key
  turbo.json
Due: none

update pipelines
  bitbucket-pipelines.yml
Due: none

configure additonal OS environments
  .github/workflows/test-package.yml
Due: none

revert
  .github/workflows/renovate.yml
Due: none

refactor
  packages/commons/.storybook/vite-preview.ts
  packages/commons/tsconfig.vite.json
  packages/html-ui/.storybook/preview.ts
  packages/react-ui/.storybook/preview.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  package.json
  yarn.lock
Due: none

ignore files for package
  packages/html-ui/.npmignore
  packages/react-ui/.npmignore
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

increase memory
  bitbucket-pipelines.yml
Due: none

revert
  apps/next-app/package.json
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  package.json
Due: none

refactor
  apps/svelte-app/yarn.lock
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .yarn/patches/jest-config-npm-29.7.0-97d8544d74.patch
  apps/svelte-app/yarn.lock
  bin/eslint-runtime.js
  package.json
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/package.json
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.dts.json
  packages/commons/tsconfig.esm.json
  packages/commons/tsconfig.json
  packages/commons/tsconfig.vite.json
  packages/html-ui/.storybook/test-runner-jest.config.ts
  packages/html-ui/package.json
  packages/react-ui/.storybook/test-runner-jest.config.ts
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  .yarn/patches/jest-config-npm-29.7.0-97d8544d74.patch
  .yarnrc.yml
  yarn.lock
Due: none

fix
  packages/commons/README.md
  packages/react-ui/.storybook/test-runner-jest.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/test-package.yml
  DEVELOPMENT.md
  packages/html-ui/package.json
  packages/html-ui/turbo.json
  packages/react-ui/package.json
  packages/react-ui/turbo.json
  turbo.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  bitbucket-pipelines.yml
Due: none

revert
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

revert
  bitbucket-pipelines.yml
Due: none

cancel concurrent workflows in the same ref
  .github/workflows/apps.yml
  .github/workflows/ci.yml
  .github/workflows/diff.yml
  .github/workflows/packages.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
Due: none

revert
  .github/workflows/diff.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
Due: none

resolve referenced addons
  packages/commons/.storybook/vite-main.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  packages/commons/.storybook/vite-main.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

revert
  .github/workflows/test-app.yml
  packages/commons/.storybook/preview.ts
  packages/html-ui/src/Button/Button.variants.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fixes
  bin/eslint-runtime.js
  package.json
  packages/commons/.storybook/vite-main.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/apps.yml
  README.md
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/.storybook/utils.ts
  packages/commons/.storybook/vite-main.ts
  packages/commons/.storybook/vite-preview.ts
  packages/commons/README.md
  packages/commons/package.json
  packages/commons/plugins/storybook/README.md
  packages/commons/plugins/storybook/vite-plugin-storybook-variants.ts
  packages/commons/tsconfig.esm.json
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/README.md
  packages/html-ui/package.json
  packages/html-ui/src/Button/Button.stories.ts
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/Button.variants.ts
  packages/html-ui/src/Button/index.ts
  packages/html-ui/src/Header/Header.stories.ts
  packages/html-ui/src/Header/Header.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/src/Button/index.ts
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/src/Header/Header.tsx
  packages/react-ui/src/Header/index.ts
  packages/react-ui/src/index.ts
  packages/react-ui/stories/Examples/Page/Page.stories.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  packages/commons/plugins/storybook/README.md
  packages/commons/plugins/storybook/vite-plugin-storybook-variants.ts
  packages/html-ui/.storybook/main.ts
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/Primary.variant.ts
  packages/html-ui/src/Button/Secondary.variant.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  packages/commons/.storybook/utils.ts
  packages/html-ui/src/Button/Secondary.variant.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/utils.ts
  packages/commons/README.md
  packages/html-ui/.storybook/main.ts
  packages/html-ui/package.json
  packages/html-ui/src/Button/Primary.variant.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  README.md
  packages/commons/.storybook/addons/addon-variants.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

add workaround
  .github/workflows/test-package.yml
Due: none

fix
  renovate.json
Due: none

refactor
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/react-ui/stories/Examples/Page/Page.stories.ts
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

revert
  .yarn/sdks/typescript/package.json
  apps/next-app/package.json
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  bin/eslint-runtime.js
  package.json
  packages/commons/README.md
  packages/commons/package.json
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/package.json
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**
