Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**

add finish job
  .github/workflows/ci.yml
Due: none

always run job
  .github/workflows/ci.yml
Due: none

save exact
  packages/react-ui/package.json
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App

lockfile
  yarn.lock
Due: none

refactor
  .github/actions/release/action.yml
  .github/workflows/pull-request.yml
  package.json
  scripts/apply-versions.ts
  scripts/index.d.ts
  scripts/ls-workspaces.ts
Due: none

fix
  .github/actions/release/action.yml
Due: none

fix
  scripts/apply-versions.ts
Due: none

only copy versions on change
  .github/workflows/ci.yml
Due: none

update year
  LICENSE
Due: none

test
  packages/html-ui/bar.txt
Due: Build and Test HTML UI, Build and Test React UI

remove quotes
  .github/workflows/pull-request.yml
Due: none

use nullish check
  scripts/apply-versions.ts
  scripts/index.d.ts
Due: none

refactor
  .github/actions/release/action.yml
  scripts/apply-versions.ts
Due: none

update README
  README.md
  scripts/README.md
Due: none

fix lint issue
  scripts/config-ci.ts
Due: none

lint root bitbucket project
  .github/workflows/bitbucket.yml
Due: none

refactor
  bitbucket-pipelines.yml
Due: none

refactor
  .github/actions/release/action.yml
  .github/workflows/ci.yml
  scripts/git-ls-unmerged.sh
  scripts/turbo.ts
Due: none

refactor
  scripts/turbo.ts
Due: none

upgrade
  package.json
  yarn.lock
Due: none

update workflows
  .github/workflows/launch.yml
  .github/workflows/pull-request.yml
Due: none

format
  .github/workflows/pull-request.yml
Due: none

refactor
  scripts/config-ci.ts
Due: none

update workflows
  .github/workflows/ci.yml
  .github/workflows/prepare.yml
Due: none

revert
  apps/next-app/package.json
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update
  bitbucket-pipelines.yml
Due: none

revert
  .vscode/settings.json
  .yarn/sdks/stylelint/bin/stylelint.js
  .yarn/sdks/stylelint/lib/index.js
  .yarn/sdks/stylelint/package.json
  DEVELOPMENT.md
  README.md
  WORKFLOWS.md
  apps/next-app/stylelint.config.cjs
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  bin/eslint-runtime.js
  bin/ts-node.js
  package.json
  packages/commons/package.json
  renovate.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

support SWC
  .yarn/patches/ts-node-npm-11.0.0-beta.1-cb10a2a461.patch
  DEVELOPMENT.md
  README.md
  apps/next-app/README.md
  apps/next-app/stylelint.config.cjs
  apps/svelte-app/README.md
  bin/ts-node.js
  eslint.config.ts
  package.json
  packages/commons/.storybook/addons/README.md
  packages/commons/README.md
  packages/commons/package.json
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/commons/tsconfig.json
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/.storybook/test-runner-jest.config.ts
  packages/html-ui/.storybook/vite.config.ts
  packages/html-ui/eslint.config.ts
  packages/html-ui/prettier.config.ts
  packages/html-ui/src/Button/Primary.variant.ts
  packages/html-ui/tsconfig.json
  packages/html-ui/vite.config.ts
  packages/react-ui/.storybook/main.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/.storybook/test-runner-jest.config.ts
  packages/react-ui/eslint.config.ts
  packages/react-ui/prettier.config.ts
  packages/react-ui/tsconfig.json
  packages/react-ui/vite.config.ts
  prettier.config.ts
  tsconfig.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix links
  DEVELOPMENT.md
  README.md
  packages/html-ui/.storybook/main.ts
Due: Build and Test HTML UI, Build and Test React UI

fix import
  packages/html-ui/src/Button/Primary.variant.ts
Due: Build and Test HTML UI, Build and Test React UI

fix import
  packages/html-ui/.storybook/test-runner-jest.config.ts
Due: Build and Test HTML UI, Build and Test React UI

fix
  bitbucket-pipelines.yml
  package.json
Due: none

revert
  scripts/opt-in-vercel.sh
Due: none

do not clean build on watch
  packages/commons/vite.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

set base path relative to output dir
  packages/commons/vite.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update pipelines
  bitbucket-pipelines.yml
Due: none

format
  packages/commons/tsconfig.json
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
  tsconfig.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App
