Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Build and Test Commons:
  max-time: 5
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  - svelte-app-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=svelte-app
  - yarn install
  - yarn bootstrap
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

disable telemetry
  .github/workflows/ci.yml
Due: none

revert
  .github/workflows/ci.yml
Due: none

refactor
  .github/workflows/ci.yml
Due: none

upgrade
  apps/next-app/package.json
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  .github/workflows/ci.yml
Due: none

skip steps if force run tests
  .github/workflows/ci.yml
Due: none

refactor
  .prettierignore
  apps/svelte-app/lint-staged.config.js
  apps/svelte-app/package.json
  package.json
  packages/commons/lint-staged.config.js
  packages/commons/lint-staged.config.ts
  packages/commons/package.json
  packages/html-ui/lint-staged.config.js
  packages/react-ui/lint-staged.config.js
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

config token
  .github/workflows/test-package.yml
Due: none

fix
  packages/commons/.storybook/addons/addon-variants.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/prepare.yml
  .prettierignore
  DEVELOPMENT.md
  bin/README.md
  bin/scripts/README.md
  bin/scripts/apply-versions.ts
  bin/scripts/bootstrap.ts
  bin/scripts/git-ls-unmerged.sh
  bin/scripts/index.d.ts
  bin/scripts/ls-workspaces.ts
  bin/scripts/turbo.ts
  package.json
Due: none

refactor
  package.json
Due: none

fix
  package.json
Due: none

revert
  package.json
Due: none

revert
  .yarn/patches/@dotenvx-dotenvx-npm-0.26.0-f0a78a0617.patch
  .yarn/patches/@swc-node-register-npm-1.8.0-5d66224f18.patch
  .yarn/patches/dotenv-flow-npm-4.1.0-74ebe7c968.patch
  package.json
Due: none

refactor
  package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/prepare.yml
  DEVELOPMENT.md
  bin/README.md
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/git-ls-unmerged.sh
  bin/index.d.ts
  bin/ls-workspaces.ts
  bin/scripts/README.md
  bin/turbo.ts
  package.json
Due: none

revert
  apps/next-app/package.json
  yarn.lock
Due: Build and Test Next App

refactor
  bitbucket-pipelines.yml
Due: none

refactor
  .github/workflows/ci.yml
  turbo.json
Due: none

fix
  bitbucket-pipelines.yml
Due: none

ignore temp folders
  .gitignore
Due: none

refactor
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  bin/bootstrap.ts
  bin/index.d.ts
Due: none

fix
  apps/svelte-app/turbo.json
  bin/bootstrap.ts
Due: Build and Test Svelte App

refactor
  bin/bootstrap.ts
Due: none

revert
  bin/bootstrap.ts
Due: none

revert
  .github/workflows/apps.yml
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/pull-request.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
Due: none

refactor
  bin/bootstrap.ts
  bin/swc-node.js
Due: none

replace slashes
  bin/bootstrap.ts
Due: none

debug
  bin/bootstrap.ts
Due: none

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**
