Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
    export DOTENV_KEY=$(echo $DOTENV_KEYS | jq -r .\"$PACKAGE_NAME\")
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
    yarn bootstrap
  
    '
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
  ...

Release:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 25
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  ...

revert
  .github/workflows/auto-approve.yml
Due: none

refactor
  .github/workflows/ci.yml
  .github/workflows/post-upgrade-task.yml
  .github/workflows/pr-check.yml
Due: none

schedule
  .github/workflows/renovate.yml
Due: none

revert
  renovate.json
Due: none

allow branch prune
  .github/workflows/renovate.yml
Due: none

pin
  .github/workflows/bitbucket.yml
Due: none

fix
  renovate.json
Due: none

refactor
  .github/workflows/bitbucket.yml
  .github/workflows/renovate.yml
Due: none

fix
  .github/workflows/bitbucket.yml
Due: none

refactor
  .github/workflows/renovate.yml
  renovate.json
Due: none

refactor
  .github/workflows/auto-approve.yml
  .github/workflows/bitbucket.yml
  .github/workflows/launch.yml
  .github/workflows/prepare.yml
  .github/workflows/version.yml
Due: none

refactor
  .github/workflows/check.yml
  .github/workflows/ci.yml
Due: none

Revert "Update dependency eslint-plugin-svelte to v3 (#1925)"
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

Revert "Update dependency eslint-plugin-svelte to v3 (#1925)" (#1976)
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

refactor
  .github/workflows/status.yml
  README.md
Due: none

revert
  .github/workflows/status.yml
Due: none

update docs
  DEVELOPMENT.md
  README.md
Due: none

refactor
  DEVELOPMENT.md
  README.md
Due: none

patch
  renovate.config.cjs
Due: none

refactor
  .vscode/settings.default.json
  apps/svelte-app/yarn.lock
  eslint.config.ts
  packages/commons/README.md
  packages/commons/eslint.config.ts
  packages/commons/package.json
  packages/html-ui/eslint.config.ts
  packages/react-ui/eslint.config.ts
  packages/stylelint-config/eslint.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/commons/eslint.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .yarnrc.yml
Due: none

cleanup
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.8.0.cjs
  .yarn/releases/yarn-4.8.1.cjs
  .yarn/releases/yarn-4.9.0.cjs
Due: none

patch
  .yarn/patches/@storybook-core-npm-8.6.12-8395548d68.patch
  package.json
  yarn.lock
Due: none

revert
  .yarnrc.yml
Due: none

refactor
  bitbucket-pipelines.yml
  renovate.config.cjs
Due: none

patch
  .vscode/settings.default.json
  .yarn/patches/eslint-npm-9.25.1-be5aefaed2.patch
  .yarn/releases/yarn-4.7.0.cjs
  .yarn/releases/yarn-4.8.0.cjs
  .yarn/releases/yarn-4.8.1.cjs
  .yarn/releases/yarn-4.9.0.cjs
  package.json
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  apps/svelte-app/package.json
  apps/svelte-app/src/routes/sverdle/+page.svelte
  apps/svelte-app/yarn.lock
  packages/commons/package.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update defaults
  .vscode/settings.default.json
Due: none

revert
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  apps/svelte-app/yarn.lock
  bin/ls-workspaces.ts
  packages/commons/package.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/commons/.storybook/vitest.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/.storybook/postcss.config.ts
  packages/commons/.storybook/vite-main.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .github/workflows/test-package.yml
  packages/commons/.storybook/vitest.config.ts
  packages/html-ui/.env.defaults
  packages/react-ui/.env.defaults
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/html-ui/.env.defaults
  packages/react-ui/.env.defaults
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .env.defaults
  .yarnrc.yml
  package.json
Due: none

refactor
  bitbucket-pipelines.yml
Due: none

revert
  package.json
Due: none

Path conditions:
  Build and Test Commons: any of: packages.json, packages/commons/**
  Build and Test HTML UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages.json, packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages.json, bin/bootstrap.ts, packages/commons/**, packages/react-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
