Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
    export DOTENV_KEY=$(echo $DOTENV_KEYS | jq -r .\"$PACKAGE_NAME\")
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
    yarn bootstrap
  
    '
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
  ...

Release:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 25
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  ...

fix
  packages/stylelint-config/package.json
Due: Build and Test HTML UI, Build and Test React UI, Release

fix
  packages/commons/modules.d.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  .github/workflows/ci.yml
Due: none

ability to generate pseudo state variants (#1011)
  .github/workflows/ci.yml
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/postcss.config.mts
  packages/commons/.storybook/preview.ts
  packages/commons/.storybook/utils.ts
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/functions.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/commons/.storybook/vite-main.ts
  packages/commons/modules.d.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/html-ui/src/Button/Button.module.scss
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/Primary.story.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Secondary.story.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Secondary.variants.ts
  packages/html-ui/src/Header/Header.stories.ts
  packages/html-ui/src/Header/Header.ts
  packages/html-ui/src/style.scss
  packages/html-ui/src/utils/README.md
  packages/html-ui/src/utils/functions.ts
  packages/react-ui/src/Header/Header.tsx
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/story-generators.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/utils/README.md
  packages/html-ui/src/utils/functions.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  bitbucket-pipelines.yml
Due: none

clean up
  packages/stylelint-config/eslint.config.d.ts
  packages/stylelint-config/eslint.config.js
  packages/stylelint-config/stylelint-scss.config.d.ts
  packages/stylelint-config/stylelint-scss.config.js
Due: Build and Test HTML UI, Build and Test React UI, Release

refactor
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/utils/README.md
  packages/commons/README.md
  packages/html-ui/.storybook/main.ts
  packages/html-ui/eslint.config.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/eslint.config.ts
  packages/react-ui/vite.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/functions.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/commons/.storybook/vite-main.ts
  packages/commons/README.md
  packages/commons/package.json
  packages/commons/tsconfig.json
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/utils/functions.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

clean up
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

update bitbucket pipelines
  bitbucket-pipelines.yml
Due: none

refactor
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  .github/workflows/test-package.yml
  .gitignore
  .yarnrc.yml
  DEVELOPMENT.md
  README.md
  package.json
  packages/html-ui/.env.ci
  packages/html-ui/.env.vault
  packages/html-ui/package.json
  packages/react-ui/.env.ci
  packages/react-ui/.env.vault
  packages/react-ui/package.json
  renovate.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  turbo.json
Due: none

refactor
  .env.ci
  .gitignore
  DEVELOPMENT.md
  packages/react-ui/.env.ci
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert dotenv-vault (#1039)
  .env.ci
  .github/workflows/test-package.yml
  .gitignore
  .yarnrc.yml
  DEVELOPMENT.md
  README.md
  package.json
  packages/html-ui/.env.ci
  packages/html-ui/.env.vault
  packages/html-ui/package.json
  packages/react-ui/.env.ci
  packages/react-ui/.env.vault
  packages/react-ui/package.json
  renovate.json
  turbo.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update DEVELOPMENT
  DEVELOPMENT.md
Due: none

refactor
  .github/workflows/test-package.yml
Due: none

fix
  .github/workflows/test-package.yml
Due: none

refactor
  .env.defaults
  .vscode/settings.default.json
  .yarnrc.yml
  bin/bootstrap.ts
Due: Build and Test Svelte App

fix
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  .yarnrc.yml
Due: none

fix
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
Due: none

fix
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/pr-check.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  .github/workflows/version.yml
  bin/bootstrap.ts
Due: Build and Test Svelte App

refactor
  bitbucket-pipelines.yml
Due: none

refactor
  .yarn/patches/dotenv-cli-npm-7.3.0-7b0ff066d1.patch
  .yarn/patches/dotenv-vault-npm-1.26.2-cad1be6652.patch
  apps/svelte-app/package.json
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/turbo.ts
  bin/utils/README.md
  bin/utils/functions.ts
  package.json
  yarn.lock
Due: Build and Test Svelte App, Release

revert
  bin/turbo.ts
  bin/utils/functions.ts
  package.json
Due: none

refactor
  .yarnrc.yml
  bin/config-ci.ts
Due: none

patch
  .yarn/versions/7dcc96bf.yml
  packages/html-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Release

patch
  .yarn/versions/5a5034a5.yml
Due: Release

update
  .github/workflows/apps.yml
  .github/workflows/ci.yml
  .github/workflows/packages.yml
  .github/workflows/prepare.yml
  bin/apply-versions.ts
Due: none

refactor
  packages/commons/chromatic.config.json
  packages/html-ui/package.json
  packages/react-ui/chromatic.config.json
  packages/react-ui/package.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  apps/svelte-app/src/routes/TitleBar.scss
  packages/html-ui/README.md
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.module.scss
  packages/react-ui/src/Header/Header.module.scss
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  packages/commons/.storybook/postcss.config.mts
  packages/commons/.storybook/utils/functions.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/html-ui/README.md
  packages/html-ui/src/Button/Button.module.scss
  packages/html-ui/src/utils/README.md
  packages/html-ui/src/utils/functions.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  packages/commons/turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Path conditions:
  Build and Test Commons: any of: packages.json, packages/commons/**
  Build and Test HTML UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages.json, packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages.json, bin/bootstrap.ts, packages/commons/**, packages/react-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
