Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Build and Test Commons:
  max-time: 5
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  - svelte-app-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=svelte-app
  - yarn install
  - yarn bootstrap
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

update workflow
  .github/workflows/ci.yml
Due: none

refactor
  .github/workflows/apps.yml
  .github/workflows/ci.yml
  .github/workflows/diff.yml
  .github/workflows/packages.yml
  apps/svelte-app/yarn.lock
Due: Build and Test Svelte App

revert
  .github/workflows/ci.yml
Due: none

version
  .yarn/versions/f21c0abf.yml
  packages/html-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI

Revert "version"
  .yarn/versions/f21c0abf.yml
  packages/html-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI

test
  foo.txt
Due: none

refactor
  scripts/apply-versions.ts
Due: none

test
  foo.txt
  packages/html-ui/foo.txt
Due: Build and Test HTML UI, Build and Test React UI

update workflow
  .github/workflows/ci.yml
  .vscode/settings.json
  .yarnrc.yml
Due: none

Revert "update workflow"
  .github/workflows/ci.yml
  .vscode/settings.json
  .yarnrc.yml
Due: none

test
  packages/html-ui/foo.txt
Due: Build and Test HTML UI, Build and Test React UI

temporary fix
  turbo.json
Due: none

test (#272)
  .yarn/versions/bb5c90e1.yml
  packages/html-ui/foo.txt
Due: Build and Test HTML UI, Build and Test React UI

test
  packages/html-ui/bar.txt
Due: Build and Test HTML UI, Build and Test React UI

refactor
  .github/actions/release/action.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
Due: none

create local branch
  .github/workflows/ci.yml
Due: none

update workflows
  .github/actions/release/action.yml
  .github/workflows/ci.yml
Due: none

fix
  scripts/apply-versions.ts
Due: none

test
  .yarn/versions/bb5c90e1.yml
Due: none

fix
  turbo.json
Due: none

update workflows
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  turbo.json
Due: none

create symlink to versions
  packages/commons/.gitignore
  packages/commons/.yarn/versions
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update
  packages/commons/turbo.json
  turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/actions/release/action.yml
  .github/workflows/apps.yml
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-package.yml
  .github/workflows/launch.yml
  .github/workflows/prepare.yml
  .github/workflows/pull-request.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
Due: none

only configure global git
  .github/workflows/apps.yml
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-package.yml
  .github/workflows/launch.yml
  .github/workflows/prepare.yml
  .github/workflows/pull-request.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
Due: none

update workflows
  .github/workflows/apps.yml
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-package.yml
  .github/workflows/launch.yml
  .github/workflows/prepare.yml
  .github/workflows/pull-request.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  packages/commons/.gitignore
  packages/commons/.yarn/versions
  packages/commons/turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

ignore copy error
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

ignore
  packages/commons/.gitignore
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

configure user
  .github/workflows/ci.yml
Due: none

flip logic
  .github/workflows/ci.yml
  .vscode/settings.json
  .yarnrc.yml
Due: none

revert
  .vscode/settings.json
  .yarnrc.yml
Due: none

test
  .yarn/versions/bb5c90e1.yml
  packages/react-ui/package.json
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/renovate.yml
Due: none

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**
