Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  caches:
  - yarn-f439cb1fce9b4019
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-f439cb1fce9b4019
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
    export DOTENV_KEY=$(echo $DOTENV_KEYS | jq -r .\"$PACKAGE_NAME\")
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-f439cb1fce9b4019
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-f439cb1fce9b4019
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm-f439cb1fce9b4019
  - unplugged-f439cb1fce9b4019
  script:
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
    yarn bootstrap
  
    '
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
  ...

Release:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 25
  size: 2x
  caches:
  - pnpm-f439cb1fce9b4019
  - unplugged-f439cb1fce9b4019
  clone:
    enabled: true
    depth: 50
  script:
  ...

upgrade
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/pr-check.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  .github/workflows/version.yml
Due: none

fix
  .yarn/patches/@swc-node-register-npm-1.9.0-4530442723.patch
  .yarn/patches/@swc-node-register-npm-1.9.2-365a3de13b.patch
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  bin/swc-node.js
  bin/swc-register.js
  package.json
  yarn.lock
Due: Build and Test Svelte App, Release

fix
  apps/svelte-app/package.json
  bin/esm-register.js
  bin/swc-node.js
  bin/swc-register.js
  package.json
Due: Build and Test Svelte App, Release

fix
  apps/svelte-app/package.json
  package.json
Due: Build and Test Svelte App, Release

revert
  .github/workflows/pr-check.yml
Due: none

format
  .env.defaults
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/pr-check.yml
  .gitignore
  .nvmrc
  .prettierignore
  DEVELOPMENT.md
  WORKFLOWS.md
  bin/README.md
  bin/git-ls-unmerged.sh
  package.json
  packages/commons/.gitignore
  packages/commons/package.json
  packages/commons/prettier.config.ts
  packages/html-ui/.env.defaults
  packages/html-ui/.npmignore
  packages/react-ui/.env.defaults
  packages/react-ui/.npmignore
  packages/stylelint-config/README.md
  packages/stylelint-config/stylelint-scss.config.ts
  packages/stylelint-config/turbo.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .prettierignore
Due: none

refactor
  .yarnrc.yml
Due: none

increase memory limit
  bitbucket-pipelines.yml
Due: none

fix
  .yarnrc.yml
Due: none

fix
  turbo.json
Due: none

update README
  README.md
Due: none

update README
  bin/README.md
Due: none

refactor
  .github/workflows/ci.yml
  .prettierignore
  packages/commons/turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .yarn/patches/@swc-node-register-npm-1.10.0-3e68312da5.patch
  apps/svelte-app/package.json
  package.json
Due: Build and Test Svelte App, Release

clean up
  .yarn/patches/@swc-node-register-npm-1.9.2-365a3de13b.patch
Due: none

fix
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  yarn.lock
Due: Build and Test Svelte App, Release

fix
  .yarn/patches/@swc-node-register-npm-1.10.0-3e68312da5.patch
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

update
  .github/workflows/ci.yml
  turbo.json
Due: none

fix
  .github/workflows/ci.yml
Due: none

allow custom dispatch
  .github/workflows/ci.yml
Due: none

refactor
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
Due: none

fix
  .yarn/patches/@swc-node-register-npm-1.10.0-3e68312da5.patch
  yarn.lock
Due: none

update lockfile
  apps/svelte-app/yarn.lock
Due: Build and Test Svelte App, Release

refactor
  .nvmrc
  bin/bootstrap.ts
  bin/swc-node.js
Due: Build and Test Svelte App

fix
  .yarn/patches/@swc-node-register-npm-1.10.0-3e68312da5.patch
  apps/svelte-app/yarn.lock
  bin/bootstrap.ts
  bin/swc-node.js
  yarn.lock
Due: Build and Test Svelte App, Release

fix lint issue
  bin/swc-node.js
Due: none

patch
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .yarn/patches/@swc-node-register-npm-1.10.0-3e68312da5.patch
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

refactor
  .github/workflows/ci.yml
  .github/workflows/test-app.yml
  .github/workflows/version.yml
Due: none

refactor and add pseudo state stories
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/postcss.config.mts
  packages/commons/.storybook/preview.ts
  packages/commons/.storybook/utils.ts
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/functions.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/commons/.storybook/vite-main.ts
  packages/commons/modules.d.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/html-ui/src/Button/Button.module.scss
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/Primary.story.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Secondary.story.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Secondary.variants.ts
  packages/html-ui/src/Header/Header.stories.ts
  packages/html-ui/src/Header/Header.ts
  packages/html-ui/src/style.scss
  packages/html-ui/src/utils/README.md
  packages/html-ui/src/utils/functions.ts
  packages/react-ui/src/Header/Header.tsx
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  .github/workflows/packages.yml
  .github/workflows/test-commons.yml
  bin/bootstrap.ts
  packages/stylelint-config/tsconfig.esm.json
  packages/stylelint-config/tsconfig.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Svelte App, Release

fix
  packages/stylelint-config/package.json
Due: Build and Test HTML UI, Build and Test React UI, Release

refactor
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/commons/tsconfig.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/commons/eslint.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update lockfile
  yarn.lock
Due: none

Path conditions:
  Build and Test Commons: any of: packages.json, packages/commons/**
  Build and Test HTML UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages.json, packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages.json, bin/bootstrap.ts, packages/commons/**, packages/react-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
