Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Lint and Test Commons:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/commons
  ...

Lint and Test Stylelint Config:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test HTML UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test React UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=apps/next-app
  - export PACKAGE_NAME=next-app
  - yarn install
  - yarn $WORKSPACE turbo run lint
  ...

Lint and Test Svelte App:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 15
  size: 2x
  caches:
  - pnpm
  - unplugged
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Deploy HTML UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 6
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/html-ui
  ...

Deploy React UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 6
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/react-ui
  ...

Release:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 25
  size: 2x
  caches:
  - pnpm
  - unplugged
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
  ...

update
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  apm.lock.yaml
Due: none

refactor
  .apm/instructions/agent-guidance.instructions.md
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  apm.lock.yaml
Due: none

update
  .apm/instructions/agent-guidance.instructions.md
  .apm/skills/fork/SKILL.md
  .apm/skills/ui-package/SKILL.md
  AGENTS.md
  apm.lock.yaml
Due: none

update
  .apm/skills/fork/SKILL.md
  AGENTS.md
  apm.lock.yaml
Due: none

update
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  AGENTS.md
  apm.lock.yaml
Due: none

update
  .apm/skills/keys/SKILL.md
  .yarnrc.yml
  AGENTS.md
  apm.lock.yaml
  bin/dotenv-args.js
Due: none

update
  .apm/instructions/javascript-typescript.instructions.md
  .apm/skills/fork/SKILL.md
  DEVELOPMENT.md
  apm.lock.yaml
  apm.yml
  apps/next-app/.env.defaults
  apps/next-app/.yarnrc.yml
  apps/next-app/README.md
  apps/next-app/bin/start.ts
  apps/next-app/package.json
  apps/next-app/tsconfig.json
  apps/next-app/yarn.lock
  apps/svelte-app/.env.defaults
  apps/svelte-app/README.md
  apps/svelte-app/package.json
  apps/svelte-app/turbo.json
  apps/svelte-app/vite.config.ts
  bin/README.md
  bin/cert.ts
  bin/trust-cert.ts
  package.json
  packages/html-ui/.env.defaults
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  .apm/skills/fork/SKILL.md
  apm.lock.yaml
Due: none

update
  .apm/skills/sync/SKILL.md
  WORKFLOWS.md
  apm.lock.yaml
Due: none

update
  WORKFLOWS.md
Due: none

update
  .apm/skills/fork/SKILL.md
  WORKFLOWS.md
  apm.lock.yaml
Due: none

revert
  packages/html-ui/.env.defaults
  packages/react-ui/.env.defaults
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
Due: none

refactor
  .github/workflows/auto-approve.yml
Due: none

revert
  .github/workflows/auto-approve.yml
Due: none

update
  .apm/skills/fork/SKILL.md
  .github/copilot-instructions.md
  .github/workflows/auto-approve.yml
  CLAUDE.md
  apm.lock.yaml
Due: none

refactor
  .github/workflows/sync.yml
  WORKFLOWS.md
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  README.md
  WORKFLOWS.md
  packages/html-ui/README.md
  packages/html-ui/package.json
  packages/react-ui/README.md
  packages/react-ui/package.json
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  .apm/skills/fork/SKILL.md
  .github/workflows/ci.yml
  apm.lock.yaml
Due: none

fix
  packages/react-ui/.storybook/vitest.config.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

update
  .apm/instructions/agent-guidance.instructions.md
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  .github/workflows/schedule.yml
  AGENTS.md
  README.md
  apm.lock.yaml
  packages/html-ui/README.md
  packages/react-ui/README.md
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/ci.yml
Due: none

refactor
  .github/workflows/schedule.yml
Due: none

update
  apm.lock.yaml
Due: none

enable APM updates
  renovate.config.ts
Due: none

revert
  apm.lock.yaml
  apm.yml
Due: none

update
  .apm/skills/sync/SKILL.md
  apm.lock.yaml
Due: none

update
  bitbucket-pipelines.yml
Due: none

fix
  bitbucket-pipelines.yml
Due: none

update
  .apm/skills/sync/SKILL.md
  WORKFLOWS.md
  apm.lock.yaml
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
