Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

refactor (#5546)
  packages/commons/.storybook/preview.ts
  packages/commons/tsconfig.json
  packages/commons/tsconfig.vite.json
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/package.json
  packages/html-ui/tsconfig.esm.json
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/package.json
  packages/react-ui/vite.config.ts
  tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/html-ui/.storybook/preview.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/react-ui/.storybook/meta.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

format
  packages/html-ui/src/Header/Header.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  packages/html-ui/turbo.json
  packages/react-ui/turbo.json
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

do no minify dev output
  packages/commons/.storybook/vite-main.ts
  packages/commons/vite.config.ts
  packages/html-ui/package.json
  packages/html-ui/vite.config.ts
  packages/react-ui/package.json
  packages/react-ui/vite.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/README.md
  packages/react-ui/vitest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/react-ui/.storybook/vitest.config.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  .yarnrc.yml
  apps/next-app/yarn.lock
  yarn.lock
Due: Lint and Test Next App, Release

do not minify
  packages/commons/.storybook/vite-main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update docs
  packages/commons/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  packages/commons/README.md
  packages/react-ui/vitest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Fix TypeScript 7 compatibility
  .pnp.loader.mjs
  .yarnrc.yml
  DEVELOPMENT.md
  README.md
  apps/next-app/package.json
  apps/next-app/yarn.lock
  apps/svelte-app/package.json
  package.json
  packages/commons/node-sass-importers.cts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Deduplicate Renovate package updates
  renovate.config.ts
Due: none

Deduplicate Renovate package updates (#5926)
  renovate.config.ts
Due: none

Support AGENT.md and CI workflow skills
  .agents/github/SKILL.md
  AGENTS.md
  apps/next-app/AGENTS.md
  apps/svelte-app/AGENTS.md
  packages/html-ui/AGENTS.md
  packages/react-ui/AGENTS.md
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  AGENTS.md
Due: none

add CLAUDE guidance and routing
  AGENTS.md
  CLAUDE.md
Due: none

update README
  README.md
Due: none

add AI guidance on testing
  packages/html-ui/AGENTS.md
  packages/react-ui/AGENTS.md
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  .yarn/patches/@storybook-addon-vitest-npm-10.3.1-e0ed4c7524.patch
  .yarn/patches/storybook-zeplin-npm-4.0.0-1fc5045eee.patch
  package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

refactor
  .agents/ci/SKILL.md
  .agents/github/SKILL.md
Due: none

ci: pin Bitbucket pipeline to Node.js 24
  bitbucket-pipelines.yml
Due: none

refactor
  CLAUDE.md
Due: none

refactor
  apps/next-app/AGENTS.md
  apps/svelte-app/AGENTS.md
  packages/html-ui/.storybook/utils/README.md
  packages/html-ui/.storybook/utils/functions.ts
  packages/html-ui/AGENTS.md
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/react-ui/AGENTS.md
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Button/Sizes/Primary.variants.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  .vscode/settings.default.json
  DEVELOPMENT.md
  WORKFLOWS.md
Due: none

wip
  .agents/api-package/SKILL.md
  .agents/app-component/SKILL.md
  .agents/app-package/SKILL.md
  .agents/app-package/references/routing.md
  .agents/bootstrap/SKILL.md
  .agents/ci/SKILL.md
  .agents/fork/SKILL.md
  .agents/keys/SKILL.md
  .agents/todo/SKILL.md
  .agents/todo/references/skills.md
  .agents/todo/references/work.md
  .agents/ui-component/SKILL.md
  .agents/ui-component/references/csf.md
  .agents/ui-component/references/styles.md
  .agents/ui-composite/SKILL.md
  .agents/ui-composite/references/csf.md
  .agents/ui-composite/references/styles.md
  .agents/ui-element/SKILL.md
  .agents/ui-element/references/csf.md
  .agents/ui-element/references/styles.md
  .agents/ui-package/SKILL.md
  .agents/ui-package/references/csf.md
  .agents/ui-package/references/routing.md
  .agents/ui-package/references/storybook.md
  .agents/ui-package/references/styles.md
  AGENTS.md
Due: none

refactor
  .agents/skills/api-package/SKILL.md
  .agents/skills/app-component/SKILL.md
  .agents/skills/app-package/SKILL.md
  .agents/skills/app-package/references/routing.md
  .agents/skills/bootstrap/SKILL.md
  .agents/skills/ci/SKILL.md
  .agents/skills/fork/SKILL.md
  .agents/skills/keys/SKILL.md
  .agents/skills/todo/SKILL.md
  .agents/skills/todo/references/skills.md
  .agents/skills/todo/references/work.md
  .agents/skills/ui-component/SKILL.md
  .agents/skills/ui-component/references/csf.md
  .agents/skills/ui-component/references/styles.md
  .agents/skills/ui-composite/SKILL.md
  .agents/skills/ui-composite/references/csf.md
  .agents/skills/ui-composite/references/styles.md
  .agents/skills/ui-element/SKILL.md
  .agents/skills/ui-element/references/csf.md
  .agents/skills/ui-element/references/styles.md
  .agents/skills/ui-package/SKILL.md
  .agents/skills/ui-package/references/csf.md
  .agents/skills/ui-package/references/routing.md
  .agents/skills/ui-package/references/storybook.md
  .agents/skills/ui-package/references/styles.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
  WORKFLOWS.md
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

refactor
  .apm/skills/api-package/SKILL.md
  .apm/skills/app-component/SKILL.md
  .apm/skills/app-package/SKILL.md
  .apm/skills/app-package/references/routing.md
  .apm/skills/bootstrap/SKILL.md
  .apm/skills/ci/SKILL.md
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  .apm/skills/todo/SKILL.md
  .apm/skills/todo/references/skills.md
  .apm/skills/todo/references/work.md
  .apm/skills/ui-component/SKILL.md
  .apm/skills/ui-component/references/csf.md
  .apm/skills/ui-component/references/styles.md
  .apm/skills/ui-composite/SKILL.md
  .apm/skills/ui-composite/references/csf.md
  .apm/skills/ui-composite/references/styles.md
  .apm/skills/ui-element/SKILL.md
  .apm/skills/ui-element/references/csf.md
  .apm/skills/ui-element/references/styles.md
  .apm/skills/ui-package/SKILL.md
  .apm/skills/ui-package/references/csf.md
  .apm/skills/ui-package/references/routing.md
  .apm/skills/ui-package/references/storybook.md
  .apm/skills/ui-package/references/styles.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  WORKFLOWS.md
  apm.lock.yaml
  apm.yml
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

cleanup
  .agents/skills/api-package/SKILL.md
  .agents/skills/app-component/SKILL.md
  .agents/skills/app-package/SKILL.md
  .agents/skills/app-package/references/routing.md
  .agents/skills/bootstrap/SKILL.md
  .agents/skills/ci/SKILL.md
  .agents/skills/fork/SKILL.md
  .agents/skills/keys/SKILL.md
  .agents/skills/todo/SKILL.md
  .agents/skills/todo/references/skills.md
  .agents/skills/todo/references/work.md
  .agents/skills/ui-component/SKILL.md
  .agents/skills/ui-component/references/csf.md
  .agents/skills/ui-component/references/styles.md
  .agents/skills/ui-composite/SKILL.md
  .agents/skills/ui-composite/references/csf.md
  .agents/skills/ui-composite/references/styles.md
  .agents/skills/ui-element/SKILL.md
  .agents/skills/ui-element/references/csf.md
  .agents/skills/ui-element/references/styles.md
  .agents/skills/ui-package/SKILL.md
  .agents/skills/ui-package/references/csf.md
  .agents/skills/ui-package/references/routing.md
  .agents/skills/ui-package/references/storybook.md
  .agents/skills/ui-package/references/styles.md
Due: none

revert
  WORKFLOWS.md
Due: none

refactor
  .apm/skills/fork/SKILL.md
  README.md
  apm.yml
Due: none

refactor
  bin/README.md
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/index.d.ts
  package.json
  packages/commons/bin/README.md
  packages/commons/bin/ls-workspaces.ts
  packages/commons/package.json
  renovate.config.ts
  tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/renovate.yml
Due: none

update
  bitbucket-pipelines.yml
Due: none

Revert "refactor"
  bin/README.md
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/index.d.ts
  bin/ls-workspaces.ts
  package.json
  packages/commons/bin/README.md
  packages/commons/package.json
  renovate.config.ts
  tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Revert "fix"
  .github/workflows/renovate.yml
Due: none
