Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Build and Test Commons:
  max-time: 5
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  clone:
    enabled: true
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - yarn-e9a34496018bfb3f
  - svelte-app-e9a34496018bfb3f
  script:
  - export PACKAGE_NAME=svelte-app
  - yarn install
  - yarn bootstrap
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

reorder loaders
  bin/swc-node.js
  package.json
  yarn.lock
Due: none

update docs
  DEVELOPMENT.md
  README.md
  WORKFLOWS.md
Due: none

refactor
  .github/workflows/packages.yml
  .github/workflows/test-app.yml
  .github/workflows/test-package.yml
  DEVELOPMENT.md
Due: none

install latest vercel
  .github/workflows/test-app.yml
Due: none

update
  .github/workflows/packages.yml
  .github/workflows/test-app.yml
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/addons/addon-variants.ts
  packages/html-ui/src/Button/Primary.variant.ts
  packages/html-ui/turbo.json
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/turbo.json
  turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

format
  packages/commons/tsconfig.json
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
  tsconfig.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

upgrade
  package.json
  yarn.lock
Due: none

patch
  .yarn/patches/@swc-node-register-npm-1.8.0-5d66224f18.patch
  package.json
  yarn.lock
Due: none

refactor
  package.json
Due: none

refactor
  .env.defaults
Due: none

patch
  .yarn/patches/@swc-node-register-npm-1.8.0-5d66224f18.patch
  yarn.lock
Due: none

revert
  package.json
  yarn.lock
Due: none

Remove ts-node/esm in favor of @swc-node/register/esm. Closes #261 (#340)
  .env.defaults
  .vscode/settings.json
  .yarn/patches/@swc-node-register-npm-1.8.0-5d66224f18.patch
  bin/swc-node.js
  package.json
  packages/commons/tsconfig.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

add vscode settings workflow. closes #293
  .gitignore
  .vscode/settings.default.json
  .vscode/settings.json
  DEVELOPMENT.md
Due: none

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

ignore all dependencies
  renovate.json
Due: none

run renovate on bitbucket branch
  renovate.json
Due: none

refactor
  renovate.json
Due: none

Revert "Update BetaHuhn/deploy-to-vercel-action digest to 0f16bc3 (#452)"
  .github/workflows/test-app.yml
Due: none

revert
  renovate.json
Due: none

update
  apps/svelte-app/.yarnrc.yml
  packages/html-ui/src/Header/Header.stories.ts
  packages/html-ui/src/Header/Header.ts
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Header/Header.tsx
  scripts/bootstrap.ts
  scripts/ls-workspaces.ts
  scripts/turbo.ts
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  README.md
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/yarn.lock
Due: Build and Test Svelte App

temp fix
  apps/svelte-app/.yarnrc.yml
Due: Build and Test Svelte App

upgrade stylelint
  .gitignore
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  renovate.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

migrate stylelint configs
  .prettierignore
  .vscode/settings.default.json
  .yarnrc.yml
  DEVELOPMENT.md
  README.md
  apps/svelte-app/stylelint.config.cjs
  apps/svelte-app/stylelint.config.js
  package.json
  packages/commons/modules.d.ts
  packages/commons/package.json
  packages/commons/stylelint.config.ts
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.js
  packages/third-party/.yarnrc.yml
  packages/third-party/README.md
  packages/third-party/package.json
  packages/third-party/yarn.lock
  scripts/ls-workspaces.ts
  scripts/turbo.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  scripts/README.md
  scripts/ls-workspaces.ts
Due: none

revert
  .vscode/settings.default.json
  .yarnrc.yml
  DEVELOPMENT.md
  apps/svelte-app/package.json
  apps/svelte-app/stylelint.config.cjs
  apps/svelte-app/stylelint.config.js
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/modules.d.ts
  packages/commons/package.json
  packages/commons/stylelint.config.ts
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/html-ui/stylelint.config.cjs
  packages/react-ui/stylelint.config.cjs
  packages/third-party/.yarnrc.yml
  packages/third-party/README.md
  packages/third-party/package.json
  packages/third-party/yarn.lock
  renovate.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  apps/next-app/package.json
  apps/svelte-app/package.json
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  scripts/ls-workspaces.ts
Due: none

WIP
  .yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/stylelint.config.cjs
  apps/svelte-app/stylelint.config.js
  package.json
  packages/commons/package.json
  packages/commons/stylelint.config.ts
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/html-ui/stylelint.config.cjs
  packages/html-ui/stylelint.config.js
  packages/react-ui/stylelint.config.cjs
  packages/react-ui/stylelint.config.js
  packages/third-party/.yarnrc.yml
  packages/third-party/package.json
  packages/third-party/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

patch
  .yarn/patches/@swc-node-register-npm-1.9.0-4530442723.patch
  package.json
  yarn.lock
Due: none

refactor
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

patch
  .yarn/patches/dotenv-cli-npm-7.3.0-7b0ff066d1.patch
  .yarn/patches/dotenv-cli-npm-7.4.0-c614aa6c80.patch
  package.json
  yarn.lock
Due: none

patch
  .yarn/patches/dotenv-vault-npm-1.26.1-f283958789.patch
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

disable automerge for patched packages
  renovate.json
Due: none

fix type errors
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/vite-main.ts
  packages/html-ui/.storybook/main.ts
  packages/html-ui/src/Button/Primary.variant.ts
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/stories/Examples/Page/Page.stories.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/test-package.yml
  apps/svelte-app/yarn.lock
  packages/commons/.storybook/vite-main.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Revert "Update codecov/codecov-action action to v4 (#564)"
  .github/workflows/test-package.yml
Due: none

Revert "Update codecov/codecov-action action to v4 (#564)" (#565)
  .github/workflows/test-package.yml
Due: none

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**
