Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Lint and Test Commons:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/commons
  ...

Lint and Test Stylelint Config:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test HTML UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test React UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 10
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Lint and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=apps/next-app
  - export PACKAGE_NAME=next-app
  - yarn install
  - yarn $WORKSPACE turbo run lint
  ...

Lint and Test Svelte App:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 15
  size: 2x
  caches:
  - pnpm
  - unplugged
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Deploy HTML UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 6
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/html-ui
  ...

Deploy React UI:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 6
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export WORKSPACE=packages/react-ui
  ...

Release:
  image: atlassian/default-image:5@sha256:71fab98cf1691e17ca5dd59b5ce8356110a3f18854f58a729c220eca36a83e3d
  max-time: 25
  size: 2x
  caches:
  - pnpm
  - unplugged
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
  ...

Revert "update"
  bitbucket-pipelines.yml
Due: none

refactor
  apps/svelte-app/package.json
  bin/apply-versions.ts
  packages/commons/bin/utils/README.md
  packages/commons/bin/utils/functions.ts
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  .apm/instructions/agent-guidance.instructions.md
  .apm/instructions/javascript-typescript.instructions.md
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  DEVELOPMENT.md
  README.md
  apm.lock.yaml
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

fix
  .github/workflows/ci.yml
Due: none

update
  .apm/instructions/agent-guidance.instructions.md
  .apm/instructions/javascript-typescript.instructions.md
  .apm/skills/todo/SKILL.md
  AGENTS.md
  DEVELOPMENT.md
  apm.lock.yaml
  apm.yml
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

support windows CI
  .github/workflows/ci.yml
Due: none

refactor
  .apm/instructions/javascript-typescript.instructions.md
  AGENTS.md
  apm.lock.yaml
  renovate.config.ts
Due: none

patch
  .yarnrc.yml
  yarn.lock
Due: none

refactor
  .apm/instructions/javascript-typescript.instructions.md
  .apm/skills/todo/SKILL.md
  .github/workflows/renovate.yml
  AGENTS.md
  DEVELOPMENT.md
  WORKFLOWS.md
  apm.lock.yaml
  bin/README.md
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/index.d.ts
  package.json
  packages/commons/.storybook/types.ts
  packages/commons/.storybook/vite-main.ts
  packages/commons/bin/README.md
  packages/commons/bin/ls-workspaces.ts
  packages/commons/bin/utils/README.md
  packages/commons/bin/utils/functions.ts
  packages/commons/package.json
  renovate.config.ts
  tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/.storybook/vite-main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/vite-main.ts
  turbo.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  package.json
  turbo.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

chore: consolidate workflow and development tooling
  .apm/instructions/javascript-typescript.instructions.md
  .github/workflows/apps.yml
  .github/workflows/auto-approve.yml
  .github/workflows/bitbucket.yml
  .github/workflows/cert.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/packages.yml
  .github/workflows/prepare.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/schedule.yml
  .github/workflows/status.yml
  .github/workflows/sync.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
  .gitignore
  AGENTS.md
  DEVELOPMENT.md
  apm.lock.yaml
  apm.yml
  bin/README.md
  bin/generate-cert.sh
  bin/trust-cert.ts
  cert/dev-cert.pem
  cert/dev-key.pem
  package.json
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/lint-staged.base.config.ts
  packages/commons/package.json
  packages/html-ui/.env.defaults
  packages/html-ui/package.json
  packages/react-ui/.env.defaults
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix: ignore PEM files in formatting
  packages/commons/.prettierignore
  packages/commons/lint-staged.base.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix: ignore PEM files at repository root
  .prettierignore
  packages/commons/.prettierignore
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor: inherit workflow read permissions
  .github/workflows/auto-approve.yml
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/package.yml
  .github/workflows/packages.yml
  .github/workflows/prepare.yml
  .github/workflows/schedule.yml
  .github/workflows/version.yml
Due: none

revert
  .github/workflows/apps.yml
  .github/workflows/packages.yml
  .github/workflows/schedule.yml
Due: none

chore: consolidate workflow and development tooling (#6018)
  .apm/instructions/javascript-typescript.instructions.md
  .github/workflows/apps.yml
  .github/workflows/auto-approve.yml
  .github/workflows/bitbucket.yml
  .github/workflows/cert.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/packages.yml
  .github/workflows/prepare.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/status.yml
  .github/workflows/sync.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
  .gitignore
  .prettierignore
  AGENTS.md
  DEVELOPMENT.md
  apm.lock.yaml
  apm.yml
  bin/README.md
  bin/generate-cert.sh
  bin/trust-cert.ts
  cert/dev-cert.pem
  cert/dev-key.pem
  package.json
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/package.json
  packages/html-ui/.env.defaults
  packages/html-ui/package.json
  packages/react-ui/.env.defaults
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/.storybook/test-runner-jest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/apps.yml
  .github/workflows/schedule.yml
Due: none

fix
  .github/workflows/cert.yml
Due: none

refactor
  .github/workflows/cert.yml
  bitbucket-pipelines.yml
  renovate.json
Due: none

update
  .apm/skills/fork/SKILL.md
  .apm/skills/sync/SKILL.md
  .apm/skills/todo/references/skills.md
  AGENTS.md
  apm.lock.yaml
Due: none

update
  .apm/instructions/agent-guidance.instructions.md
  .apm/skills/fork/SKILL.md
  .apm/skills/sync/SKILL.md
  .apm/skills/todo/references/skills.md
  .apm/skills/ui-package/SKILL.md
  AGENTS.md
  apm.lock.yaml
Due: none

update
  .apm/skills/fork/SKILL.md
  .apm/skills/todo/SKILL.md
  .apm/skills/todo/references/skills.md
  apm.lock.yaml
Due: none

update
  .apm/skills/fork/SKILL.md
  .apm/skills/todo/references/skills.md
  apm.lock.yaml
Due: none

update
  apm.lock.yaml
  lint-staged.config.js
Due: none

fix
  .prettierignore
Due: none

update
  .apm/skills/fork/SKILL.md
  apm.lock.yaml
Due: none

update
  .apm/instructions/agent-guidance.instructions.md
  .apm/skills/fork/SKILL.md
  apm.lock.yaml
Due: none

update
  .apm/instructions/agent-guidance.instructions.md
  AGENTS.md
  apm.lock.yaml
Due: none

refactor
  .github/workflows/ci.yml
  .gitignore
  eslint.config.ts
  tsconfig.json
Due: none

refactor
  .gitignore
Due: none

update
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  .apm/skills/keys/references/.env.ci
  AGENTS.md
  apm.lock.yaml
Due: none

update
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  .apm/skills/keys/references/.env.ci
  .apm/skills/todo/references/skills.md
  AGENTS.md
  DEVELOPMENT.md
  apm.lock.yaml
  bin/README.md
  bin/dotenv-args.js
  package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

update
  .apm/skills/fork/SKILL.md
  .apm/skills/keys/SKILL.md
  .apm/skills/ui-package/SKILL.md
  AGENTS.md
  DEVELOPMENT.md
  apm.lock.yaml
Due: none

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
