Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run coverage
  
    '

Build and Test Stylelint Config:
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=stylelint-config
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run coverage
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:71960b111dfa043daa26d7c794b70b40385371edea552e94b3ab05b0a5999796
  max-time: 15
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=html-ui
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:71960b111dfa043daa26d7c794b70b40385371edea552e94b3ab05b0a5999796
  max-time: 15
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run coverage
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm
  - unplugged
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
  ...

Release:
  image: atlassian/default-image:4@sha256:71960b111dfa043daa26d7c794b70b40385371edea552e94b3ab05b0a5999796
  max-time: 25
  size: 2x
  caches:
  - pnpm
  - unplugged
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
  ...

refactor
  bitbucket-pipelines.yml
Due: none

refactor
  .gitignore
  DEVELOPMENT.md
  packages/commons/.storybook/vitest.config.ts
  packages/react-ui/package.json
  packages/react-ui/turbo.json
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update DEVELOPMENT
  DEVELOPMENT.md
Due: none

update
  .prettierignore
  DEVELOPMENT.md
  LICENSE
  bin/README.md
  bin/ls-workspaces.ts
Due: none

fix
  DEVELOPMENT.md
Due: none

refactor
  .yarn/patches/eslint-npm-9.25.1-be5aefaed2.patch
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  bin/README.md
  bin/esm-register.js
  bin/swc-node.js
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/html-ui/package.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/README.md
  packages/commons/vitest.setup.ts
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/turbo.json
  packages/react-ui/vitest.config.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/.storybook/vite-main.ts
  packages/commons/.storybook/vitest.config.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  packages/commons/vitest.config.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  apps/svelte-app/src/routes/styles.css
Due: Build and Test Svelte App, Release

fix
  .yarn/patches/@storybook-core-npm-8.6.12-8395548d68.patch
  .yarn/patches/storybook-npm-9.0.1-8b4daf083e.patch
  .yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/.storybook/preview.ts
  packages/commons/.storybook/utils/functions.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/commons/.storybook/vite-main.ts
  packages/commons/.storybook/vitest.config.ts
  packages/commons/package.json
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/preview.ts
  packages/html-ui/README.md
  packages/html-ui/package.json
  packages/html-ui/stories/Docs/Configure.mdx
  packages/html-ui/stories/Docs/Readme.mdx
  packages/react-ui/.storybook/main.ts
  packages/react-ui/.storybook/preview.ts
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/stories/Docs/Configure.mdx
  packages/react-ui/stories/Docs/Readme.mdx
  packages/react-ui/stories/Examples/Button/Button.stories.ts
  packages/react-ui/stories/Examples/Page/Page.stories.ts
  packages/stylelint-config/package.json
  packages/stylelint-config/rules/order.ts
  packages/unplugged/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .yarn/patches/storybook-npm-9.0.1-8b4daf083e.patch
  packages/html-ui/.storybook/preview.ts
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix coverage
  packages/commons/.storybook/vitest.config.ts
  packages/commons/vitest.config.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .yarn/patches/storybook-npm-9.0.4-bee62c3720.patch
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  apps/svelte-app/yarn.lock
  package.json
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .yarn/patches/storybook-npm-9.0.13-4ec9cc11ed.patch
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  package.json
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update lockfile
  packages/unplugged/yarn.lock
Due: Release

checksum
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

patch
  .yarn/patches/storybook-npm-9.0.13-4ec9cc11ed.patch
  yarn.lock
Due: none

patch
  .yarn/patches/storybook-npm-9.0.13-4ec9cc11ed.patch
  .yarn/patches/vite-npm-7.0.0-b411ea4d9a.patch
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/package.json
  packages/html-ui/.storybook/main.ts
  packages/html-ui/package.json
  packages/react-ui/.storybook/main.ts
  packages/react-ui/package.json
  packages/react-ui/vitest.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .yarn/patches/@storybook-test-runner-npm-0.23.0-397644f312.patch
  .yarn/patches/storybook-npm-9.0.13-4ec9cc11ed.patch
  .yarn/patches/vite-npm-7.0.0-b411ea4d9a.patch
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/package.json
  packages/html-ui/.storybook/main.ts
  packages/html-ui/package.json
  packages/react-ui/.storybook/main.ts
  packages/react-ui/package.json
  packages/react-ui/vitest.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .yarn/patches/storybook-npm-9.0.13-4ec9cc11ed.patch
  apps/svelte-app/lint-staged.config.js
  apps/svelte-app/yarn.lock
  eslint.config.ts
  lint-staged.config.js
  package.json
  packages/commons/.storybook/preview.ts
  packages/commons/README.md
  packages/commons/lint-staged.config.js
  packages/commons/package.json
  packages/html-ui/eslint.config.ts
  packages/html-ui/lint-staged.config.js
  packages/html-ui/prettier.config.js
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/eslint.config.ts
  packages/react-ui/lint-staged.config.js
  packages/react-ui/prettier.config.js
  packages/stylelint-config/eslint.config.ts
  packages/stylelint-config/lint-staged.config.js
  prettier.config.js
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/package.json
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update lockfile
  .yarn/patches/storybook-npm-9.0.13-4ec9cc11ed.patch
  package.json
  packages/html-ui/.storybook/test-runner-jest.config.ts
  packages/react-ui/.storybook/test-runner-jest.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .yarnrc.yml
  apps/svelte-app/yarn.lock
  packages/commons/.storybook/vite-main.ts
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  .yarnrc.yml
Due: none

revert
  apps/svelte-app/lint-staged.config.js
  eslint.config.ts
  lint-staged.config.js
  packages/commons/README.md
  packages/commons/lint-staged.config.js
  packages/commons/package.json
  packages/html-ui/.storybook/test-runner-jest.config.ts
  packages/html-ui/eslint.config.ts
  packages/html-ui/lint-staged.config.js
  packages/html-ui/prettier.config.js
  packages/react-ui/eslint.config.ts
  packages/react-ui/lint-staged.config.js
  packages/react-ui/prettier.config.js
  packages/stylelint-config/eslint.config.ts
  packages/stylelint-config/lint-staged.config.js
  prettier.config.js
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  renovate.json
Due: none

patch
  .yarn/patches/storybook-npm-9.0.17-8f9db402a2.patch
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/package.yml
  .github/workflows/packages.yml
Due: none

test
  bin/swc-node.js
  packages/html-ui/src/Button/Button.module.scss
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .vscode/settings.default.json
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/package.json
  packages/stylelint-config/stylelint-scss.config.ts
  packages/unplugged/package.json
  packages/unplugged/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  bin/swc-node.js
  packages/html-ui/src/Button/Button.module.scss
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor (#2941)
  .vscode/settings.default.json
  package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/package.json
  packages/stylelint-config/stylelint-scss.config.ts
  packages/unplugged/package.json
  packages/unplugged/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Path conditions:
  Build and Test Commons: any of: package.json, packages/commons/**
  Build and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Build and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
