Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

override
  .github/workflows/renovate.yml
Due: none

refactor
  .github/workflows/status.yml
Due: none

fix
  .github/workflows/renovate.yml
Due: none

update
  bin/README.md
  yarn.lock
Due: none

fix
  .yarnrc.yml
  apps/svelte-app/yarn.lock
  packages/commons/.storybook/vitest.config.ts
  packages/commons/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/vitest.config.ts
  packages/react-ui/vitest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

patch
  .yarn/patches/stylelint-npm-17.0.0-2a27df4ec4.patch
  .yarn/sdks/eslint/package.json
  DEVELOPMENT.md
  apps/svelte-app/package.json
  apps/svelte-app/stylelint.config.js
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/bin/utils/runners.ts
  packages/commons/package.json
  packages/stylelint-config/modules.d.ts
  packages/stylelint-config/package.json
  packages/stylelint-config/plugins/order.ts
  packages/stylelint-config/rules/order.ts
  packages/stylelint-config/stylelint-scss.config.ts
  packages/stylelint-config/tsconfig.esm.json
  packages/stylelint-config/utils/functions.ts
  packages/unplugged/package.json
  packages/unplugged/yarn.lock
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  apps/svelte-app/package.json
  bin/swc-node.js
  package.json
  packages/commons/.storybook/addons/addon-variants.ts
  packages/html-ui/eslint.config.ts
  packages/html-ui/modules.d.ts
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/README.md
  packages/html-ui/.storybook/test-runner-jest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .yarnrc.yml
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/.storybook/eslint.config.ts
  packages/commons/.storybook/vite-main.ts
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/README.md
  packages/html-ui/.storybook/main.ts
  packages/react-ui/.storybook/main.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/utils/README.md
  packages/commons/README.md
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/vite.config.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/html-ui/vite.config.ts
  packages/react-ui/.storybook/vite.config.ts
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/vite.config.ts
  packages/react-ui/vitest.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/.storybook/vitest.config.ts
  packages/commons/bin/utils/functions.ts
  packages/commons/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  apps/svelte-app/yarn.lock
  packages/commons/bin/utils/functions.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/package.yml
  .yarn/patches/@storybook-test-runner-npm-0.23.0-397644f312.patch
  .yarn/patches/@swc-node-register-npm-1.10.0-3e68312da5.patch
  .yarn/patches/jest-config-npm-29.7.0-97d8544d74.patch
  .yarnrc.yml
  apps/next-app/yarn.lock
  apps/svelte-app/yarn.lock
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update lockfile
  yarn.lock
Due: none

fix
  .github/workflows/package.yml
  .yarnrc.yml
  yarn.lock
Due: none

lockfile
  apps/svelte-app/yarn.lock
Due: Lint and Test Svelte App, Release

fix
  .yarnrc.yml
  apps/svelte-app/.env.defaults
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/prettier.config.js
  apps/svelte-app/yarn.lock
  packages/commons/package.json
  packages/html-ui/package.json
  packages/stylelint-config/package.json
  packages/unplugged/README.md
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/apps.yml
  .github/workflows/test-app.yml
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/vite.config.ts
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy React UI, Release

fix
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  yarn.lock
Due: Lint and Test Svelte App, Release

fix: `ConfigurationError: Could not find ...` error for Yarn PnP (#3963)
  .github/workflows/apps.yml
  .github/workflows/test-app.yml
  .yarn/patches/stylelint-npm-17.0.0-2a27df4ec4.patch
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  DEVELOPMENT.md
  apps/svelte-app/.env.defaults
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/prettier.config.js
  apps/svelte-app/stylelint.config.js
  apps/svelte-app/vite.config.ts
  apps/svelte-app/yarn.lock
  packages/commons/bin/utils/runners.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/modules.d.ts
  packages/stylelint-config/package.json
  packages/stylelint-config/plugins/order.ts
  packages/stylelint-config/rules/order.ts
  packages/stylelint-config/stylelint-scss.config.ts
  packages/stylelint-config/tsconfig.esm.json
  packages/stylelint-config/utils/functions.ts
  packages/unplugged/README.md
  packages/unplugged/package.json
  packages/unplugged/yarn.lock
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  .yarn/plugins/@yarnpkg/plugin-after-install.cjs
  .yarnrc.yml
Due: none

refactor
  apps/svelte-app/package.json
  package.json
  packages/commons/bin/lint.ts
  packages/commons/bin/utils/README.md
  packages/commons/bin/utils/functions.ts
  packages/commons/bin/utils/reporters.ts
  packages/commons/bin/utils/runners.ts
  packages/commons/package.json
  packages/html-ui/.env.ci
  packages/html-ui/package.json
  packages/react-ui/.env.ci
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

rotate keys
  DEVELOPMENT.md
  packages/html-ui/.env.ci
  packages/react-ui/.env.ci
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  renovate.config.cjs
Due: none

revert
  .yarn/patches/stylelint-npm-17.0.0-2a27df4ec4.patch
Due: none

refactor
  .github/workflows/renovate.yml
  renovate.config.cjs
Due: none

refactor
  .github/workflows/renovate.yml
Due: none

refactor
  .github/workflows/renovate.yml
  renovate.config.js
Due: none

revert
  .github/workflows/renovate.yml
Due: none

fix
  package.json
  renovate.config.js
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

refactor
  .github/workflows/renovate.yml
  .yarnrc.yml
  apps/next-app/yarn.lock
  package.json
  packages/commons/README.md
  packages/commons/eslint.config.ts
  packages/react-ui/README.md
  renovate.config.js
  renovate.config.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/renovate.yml
  .vscode/settings.default.json
  renovate.config.ts
Due: none

revert
  .nvmrc
  renovate.config.json
  renovate.config.ts
Due: none

update
  .github/workflows/renovate.yml
Due: none

print config
  .github/workflows/renovate.yml
Due: none

refactor
  .github/workflows/renovate.yml
  renovate.config.ts
Due: none
