Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Build and Test Commons:
  max-time: 5
  caches:
  - yarn-4afd0bd15daa0cc4
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - yarn workspace $PACKAGE_NAME turbo run lint && yarn workspace $PACKAGE_NAME turbo run build

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-4afd0bd15daa0cc4
  script:
  - export PACKAGE_NAME=html-ui
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-4afd0bd15daa0cc4
  script:
  - export PACKAGE_NAME=react-ui
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-4afd0bd15daa0cc4
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - yarn workspace $PACKAGE_NAME turbo run lint && yarn workspace $PACKAGE_NAME turbo run build

Build and Test Svelte App:
  max-time: 15
  caches:
  - yarn-4afd0bd15daa0cc4
  - svelte-app-4afd0bd15daa0cc4
  script:
  - export PACKAGE_NAME=svelte-app
  - yarn install
  - yarn bootstrap
  - yarn workspace $PACKAGE_NAME turbo run lint && yarn workspace $PACKAGE_NAME turbo run build

revert
  .github/workflows/pull-request.yml
  DEVELOPMENT.md
Due: none

refactor
  .github/actions/publish/action.yml
  .github/workflows/release.yml
Due: none

refactor
  .github/workflows/release.yml
Due: none

refactor
  .github/actions/publish/action.yml
Due: none

update
  .github/actions/publish/action.yml
  .github/workflows/release.yml
Due: none

refactor
  .github/actions/publish/action.yml
  .github/workflows/prepare.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/test-package.yml
  package.json
  scripts/git-ls-unmerged.sh
  yarn.lock
Due: none

override root env
  apps/svelte-app/.env.defaults
  apps/svelte-app/.yarnrc.yml
Due: Build and Test Svelte App

update workflows
  .github/workflows/test-app.yml
  .github/workflows/test-package.yml
  apps/next-app/turbo.json
  apps/next-app/vercel.json
  apps/svelte-app/turbo.json
  apps/svelte-app/vercel.json
  package.json
Due: Build and Test Next App, Build and Test Svelte App

update lockfile
  yarn.lock
Due: none

refactor
  apps/next-app/vercel.json
  apps/svelte-app/vercel.json
Due: Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/test-app.yml
Due: none

revert
  .github/workflows/test-app.yml
Due: none

fix
  .github/workflows/test-app.yml
Due: none

pass token manually
  .github/workflows/test-app.yml
Due: none

update workflow
  .github/workflows/test-app.yml
Due: none

fix
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  apps/svelte-app/package.json
  apps/svelte-app/src/routes/sverdle/+page.server.ts
  apps/svelte-app/svelte.config.js
  apps/svelte-app/vite.config.ts
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App

revert
  apps/svelte-app/src/app.html
  apps/svelte-app/vite.config.ts
Due: Build and Test Svelte App

deploy main to production
  .github/workflows/test-app.yml
Due: none

refactor
  packages/commons/eslint.config.ts
  packages/react-ui/eslint.config.ts
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Header/Header.tsx
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  DEVELOPMENT.md
  bin/eslint-runtime.js
Due: none

refactor
  packages/html-ui/vite.config.ts
  scripts/index.d.ts
  scripts/ls-workspaces.ts
Due: Build and Test HTML UI, Build and Test React UI

fetch more histories
  .github/workflows/test-package.yml
Due: none

revert
  .github/workflows/test-package.yml
Due: none

update
  .github/workflows/prepare.yml
  bitbucket-pipelines.yml
Due: none

refactor
  bitbucket-pipelines.yml
Due: none

refactor
  .github/workflows/test-package.yml
  packages/html-ui/chromatic.config.json
  packages/html-ui/package.json
  packages/react-ui/chromatic.config.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

test
  .github/workflows/release.yml
Due: none

update workflow
  .github/workflows/release.yml
Due: none

update workflows
  .github/workflows/actions/release/action.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

refactor
  .github/actions/release/action.yml
Due: none

refactor
  .github/workflows/pre-release.yml
Due: none

update workflow
  .github/actions/release/action.yml
Due: none

update workflows
  .github/workflows/pre-release.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

pin version
  .github/workflows/test-app.yml
Due: none

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**
