Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

Path conditions:
  Build and Test Commons: any of: packages/commons/**
  Build and Test HTML UI: any of: packages/commons/**, packages/html-ui/**
  Build and Test React UI: any of: packages/commons/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages/commons/**, packages/react-ui/**, apps/svelte-app/**

refactor
  packages/commons/.storybook/utils.ts
  packages/html-ui/src/Global.d.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

add prepack scripts
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  packages/commons/README.md
  packages/html-ui/vite.config.ts
  packages/react-ui/src/Global.d.ts
  packages/react-ui/tsconfig.json
  packages/react-ui/vite.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  packages/html-ui/.storybook/main.ts
  packages/html-ui/.storybook/vite.config.ts
  packages/html-ui/vite.config.ts
Due: Build and Test HTML UI, Build and Test React UI

refactor
  bitbucket-pipelines.yml
Due: none

allow empty tests
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/stylelint.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/test-commons.yml
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/stylelint.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

support junit reports
  .gitignore
  apps/svelte-app/yarn.lock
  packages/commons/.storybook/test-runner-jest.config.ts
  packages/commons/package.json
  packages/html-ui/turbo.json
  packages/react-ui/turbo.json
  turbo.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update workflows
  .github/workflows/apps.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  apps/next-app/package.json
  apps/svelte-app/package.json
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

fix
  .github/workflows/release.yml
  .github/workflows/test-package.yml
Due: none

update workflows
  .github/workflows/diff.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/test-package.yml
Due: none

test
  packages/html-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI

fetch target branch
  .github/workflows/pull-request.yml
Due: none

revert
  .github/workflows/pull-request.yml
Due: none

release strategy
  .yarn/versions/a65608ce.yml
Due: none

update workflows
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

do not run on private workspaces
  .github/workflows/pull-request.yml
Due: none

update release workflow
  .github/workflows/release.yml
Due: none

update workflow
  .github/workflows/release.yml
Due: none

fix
  .github/workflows/release.yml
Due: none

typo
  .github/workflows/release.yml
Due: none

version
  packages/html-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI

always fetch main branch
  .github/workflows/pull-request.yml
Due: none

fix workflow
  .github/workflows/pull-request.yml
Due: none

push to origin
  .github/workflows/pull-request.yml
Due: none

update workflows
  .github/workflows/apps.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/test-package.yml
Due: none

revert
  .github/workflows/renovate.yml
Due: none

revert
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
Due: none

use personalized access token
  .github/workflows/pull-request.yml
Due: none

PR Workflow Test (issue) (#214)
  .yarn/versions/4b4baf3b.yml
  packages/html-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI

PR Workflow Test (feature) (#213)
  .yarn/versions/082fbc03.yml
Due: none

reorder workflow steps
  .github/workflows/release.yml
Due: none

test
  packages/html-ui/test.txt
Due: Build and Test HTML UI, Build and Test React UI

update PR workflow
  .env.defaults
  .github/workflows/pull-request.yml
  .yarnrc.yml
Due: none

update workflows
  .github/workflows/pull-request.yml
  .yarnrc.yml
Due: none

fix base ref
  .github/workflows/pull-request.yml
Due: none

revert
  .github/workflows/pull-request.yml
  DEVELOPMENT.md
Due: none
