Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
    export DOTENV_KEY=$(echo $DOTENV_KEYS | jq -r .\"$PACKAGE_NAME\")
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
    yarn bootstrap
  
    '
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
  ...

Release:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 25
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  ...

group vite and postcss updates
  renovate.json
Due: none

downgrade node requirements
  .github/workflows/bitbucket.yml
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/pr-check.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/test-package.yml
  .github/workflows/version.yml
  .nvmrc
  DEVELOPMENT.md
Due: none

constraint node upgrades
  renovate.json
Due: none

update workflow
  .github/workflows/renovate.yml
  packages/unplugged/yarn.lock
  renovate.json
  yarn.lock
Due: Release

refactor
  .vscode/settings.default.json
  apps/svelte-app/eslint.config.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/commons/eslint.config.ts
  packages/html-ui/package.json
  packages/html-ui/src/Button/index.scss
  packages/html-ui/src/Header/index.scss
  packages/html-ui/vite.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/html-ui/vite.config.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

remove lockfile before upgrading vite or postcss
  renovate.config.cjs
Due: none

refactor
  renovate.config.cjs
Due: none

refactor
  renovate.json
Due: none

rollback addon-interactions
  package.json
  yarn.lock
Due: none

fix
  bitbucket-pipelines.yml
Due: none

revert
  packages/html-ui/.storybook/vite.config.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

install from .nvmrc
  bitbucket-pipelines.yml
Due: none

resolution
  package.json
  yarn.lock
Due: none

refactor
  bitbucket-pipelines.yml
Due: none

add constraint
  renovate.json
Due: none

revert
  renovate.json
Due: none

restrict node image version
  renovate.json
Due: none

support multiple JS outputs
  apps/next-app/src/pages/index.tsx
  package.json
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/functions.ts
  packages/commons/vite.config.ts
  packages/html-ui/package.json
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/vite.config.ts
  packages/react-ui/README.md
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Button/index.ts
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/src/Header/Header.tsx
  packages/react-ui/src/Header/index.ts
  packages/react-ui/stories/Examples/Page/Page.tsx
  packages/react-ui/tsconfig.dts.json
  packages/react-ui/tsconfig.json
  packages/react-ui/vite.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/react-ui/stories/Examples/Page/Page.tsx
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  bin/apply-versions.ts
Due: none

update
  .yarnrc.yml
  apps/svelte-app/yarn.lock
  bin/apply-versions.ts
  package.json
  packages/commons/.storybook/vite-main.ts
  packages/commons/chromatic.config.json
  packages/commons/package.json
  packages/html-ui/chromatic.config.json
  packages/html-ui/package.json
  packages/react-ui/chromatic.config.json
  packages/react-ui/package.json
  turbo.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

support zeplin integration
  .yarn/patches/@storybook-core-npm-8.3.3-4c1cd3fdb1.patch
  .yarnrc.yml
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/.storybook/vite-main.ts
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

lockfile
  apps/svelte-app/yarn.lock
Due: Build and Test Svelte App, Release

wip
  .yarn/patches/@storybook-core-npm-8.3.3-4c1cd3fdb1.patch
  .yarnrc.yml
  apps/svelte-app/yarn.lock
  packages/commons/.storybook/vite-main.ts
  turbo.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

disable addon on windows
  packages/commons/.storybook/vite-main.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .yarn/patches/@storybook-core-npm-8.3.5-19a72af398.patch
  apps/next-app/package.json
  bin/bootstrap.ts
  bin/utils/functions.ts
  package.json
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/tsconfig.json
  packages/react-ui/vite.config.ts
  yarn.lock
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  bin/bootstrap.ts
Due: Build and Test Svelte App

downgrade
  apps/next-app/package.json
  yarn.lock
Due: Build and Test Next App, Release

patch
  .yarnrc.yml
  bin/apply-versions.ts
  bin/utils/functions.ts
  package.json
  packages/html-ui/modules.d.ts
  packages/html-ui/src/Button/Button.ts
  tsconfig.json
Due: Build and Test HTML UI, Build and Test React UI, Release

patch
  .yarn/patches/vite-plugin-sass-glob-import-npm-4.0.0-96988ae2a6.patch
  packages/html-ui/package.json
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Release

patch
  apps/svelte-app/.eslintignore
  apps/svelte-app/eslint.config.ts
  apps/svelte-app/src/routes/sverdle/+page.svelte
Due: Build and Test Svelte App, Release

upgrade
  .yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

lockfile
  yarn.lock
Due: none

fix
  package.json
  packages/html-ui/package.json
Due: Build and Test HTML UI, Build and Test React UI, Release

lockfile
  .yarnrc.yml
  yarn.lock
Due: none

fix
  .yarn/patches/vite-plugin-sass-glob-import-npm-4.0.0-96988ae2a6.patch
  yarn.lock
Due: none

patch (#1524)
  .yarn/patches/vite-plugin-sass-glob-import-npm-4.0.0-96988ae2a6.patch
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

Path conditions:
  Build and Test Commons: any of: packages.json, packages/commons/**
  Build and Test HTML UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages.json, packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages.json, bin/bootstrap.ts, packages/commons/**, packages/react-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
