Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

revert
  .vscode/settings.default.json
Due: none

fix
  packages/html-ui/README.md
  packages/react-ui/README.md
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

ignore
  packages/react-ui/package.json
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  packages/commons/eslint.config.ts
  packages/react-ui/tsconfig.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
  yarn.lock
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .yarn/patches/@storybook-addon-vitest-npm-10.3.1-e0ed4c7524.patch
  package.json
  packages/commons/.storybook/vitest.config.ts
  packages/react-ui/.storybook/vitest.setup.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

lockfile
  yarn.lock
Due: none

support react compiler
  packages/commons/package.json
  packages/react-ui/package.json
  packages/react-ui/vite.config.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .yarn/patches/svelte-check-npm-4.4.5-6dab8a536e.patch
  .yarn/patches/svelte-language-server-npm-0.17.29-58c2902055.patch
  apps/next-app/eslint.config.ts
  apps/next-app/package.json
  apps/next-app/tsconfig.json
  apps/svelte-app/eslint.config.ts
  package.json
  packages/commons/eslint.config.ts
  packages/commons/tsconfig.cjs.json
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .yarnrc.yml
  yarn.lock
Due: none

patch
  package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI

test
  packages/commons/tsconfig.cjs.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/react-ui/tsconfig.json
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

refactor
  apps/svelte-app/tsconfig.json
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/commons/tsconfig.json
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
  tsconfig.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

support post-build ts path specifier rewrite
  packages/commons/bin/tsc-paths.ts
  packages/commons/package.json
  packages/react-ui/package.json
  packages/react-ui/src/Header/Header.tsx
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update docs
  packages/commons/bin/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/bin/README.md
  packages/commons/bin/tsc-paths.ts
  packages/react-ui/package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

support resolving pnp sass imports
  .yarn/patches/pnp-sass-importer-npm-2.0.0-ab79efb9df.patch
  .yarn/patches/typescript-plugin-css-modules-npm-5.2.0-2a105149d7.patch
  package.json
  packages/commons/README.md
  packages/commons/bin/README.md
  packages/commons/bin/tsc-paths.ts
  packages/commons/node-sass-importers.cts
  packages/commons/package.json
  packages/commons/tsconfig.cjs.json
  packages/commons/tsconfig.esm.json
  packages/html-ui/package.json
  packages/html-ui/stories/Examples/Icons/Icon.ts
  packages/html-ui/stories/Examples/Icons/Icons.module.scss
  packages/html-ui/stories/Examples/Icons/Icons.stories.ts
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

patch
  .vscode/settings.default.json
  .yarn/patches/pnp-sass-importer-npm-2.0.0-ab79efb9df.patch
  DEVELOPMENT.md
  yarn.lock
Due: none

support watch mode
  packages/commons/bin/tsc-paths.ts
  packages/commons/package.json
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/commons/bin/tsc-paths.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  bin/README.md
  packages/commons/bin/README.md
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/package.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  packages/commons/vite.config.ts
  packages/html-ui/vite.config.ts
  packages/react-ui/package.json
  packages/react-ui/vite.config.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/stylelint-config/tsconfig.json
Due: Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Deploy HTML UI, Deploy React UI, Release

fix
  packages/stylelint-config/tsconfig.json
Due: Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Deploy HTML UI, Deploy React UI, Release

fix
  bitbucket-pipelines.yml
Due: none

cleanup
  .yarn/patches/svelte-check-npm-4.4.5-6dab8a536e.patch
  .yarn/patches/svelte-language-server-npm-0.17.29-58c2902055.patch
  .yarn/patches/vite-plugin-sass-glob-import-npm-6.0.3-718e64ce42.patch
  package.json
  packages/html-ui/package.json
  packages/html-ui/src/style.scss
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

patch
  .yarn/patches/pnp-sass-importer-npm-2.0.0-ab79efb9df.patch
  yarn.lock
Due: none

supprt linting react hooks
  packages/react-ui/eslint.config.ts
  packages/react-ui/package.json
  yarn.lock
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

update
  DEVELOPMENT.md
Due: none

revert
  bitbucket-pipelines.yml
Due: none

support tsx codeblocks
  packages/commons/eslint.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

patch
  .yarn/patches/storybook-zeplin-npm-3.0.0-1df848e72d.patch
  .yarn/patches/storybook-zeplin-npm-4.0.0-1fc5045eee.patch
  .yarnrc.yml
  package.json
  packages/commons/.storybook/vite-main.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

revert
  packages/commons/.storybook/vite-main.ts
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release
