Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run coverage
  
    '

Build and Test Stylelint Config:
  max-time: 10
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=stylelint-config
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run coverage
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:71960b111dfa043daa26d7c794b70b40385371edea552e94b3ab05b0a5999796
  max-time: 15
  size: 2x
  caches:
  - yarn
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=html-ui
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:71960b111dfa043daa26d7c794b70b40385371edea552e94b3ab05b0a5999796
  max-time: 15
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run coverage
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm
  - unplugged
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
    echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env
  
    '
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
  ...

Release:
  image: atlassian/default-image:4@sha256:71960b111dfa043daa26d7c794b70b40385371edea552e94b3ab05b0a5999796
  max-time: 25
  size: 2x
  caches:
  - pnpm
  - unplugged
  clone:
    enabled: true
    depth: 75
  script:
  - 'export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
  
  ...

refactor
  .github/actions/release/action.yml
  .github/workflows/release.yml
Due: none

refactor
  .github/workflows/sync.yml
Due: none

refactor
  .gitignore
  DEVELOPMENT.md
  bin/README.md
  bin/index.d.ts
  bin/lint.ts
  bin/ls-workspaces.ts
  bin/utils/README.md
  bin/utils/functions.ts
  bin/utils/reporters.ts
  package.json
  packages/commons/README.md
  packages/commons/index.d.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/package.json
  packages/stylelint-config/utils/reporters.ts
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .yarn/patches/storybook-npm-9.1.0-6f4012a8db.patch
  apps/svelte-app/package.json
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  apps/svelte-app/package.json
  bin/README.md
  bin/lint.ts
  bin/utils/README.md
  bin/utils/reporters.ts
  bin/utils/runners.ts
  package.json
  packages/stylelint-config/tsconfig.json
  packages/stylelint-config/utils/runners.ts
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

lockfile
  apps/svelte-app/yarn.lock
Due: Build and Test Svelte App, Release

refactor
  bin/README.md
  bin/hash.ts
  bin/utils/reporters.ts
Due: none

refactor
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  bin/README.md
  bin/apply-versions.ts
  bin/bootstrap.ts
  bin/hash.ts
  bin/utils/runners.ts
  package.json
  packages/commons/bin/README.md
  packages/commons/bin/lint.ts
  packages/commons/bin/utils/README.md
  packages/commons/bin/utils/functions.ts
  packages/commons/bin/utils/reporters.ts
  packages/commons/bin/utils/runners.ts
  packages/commons/index.d.ts
  packages/commons/package.json
  packages/html-ui/package.json
  packages/react-ui/package.json
  packages/stylelint-config/package.json
  packages/stylelint-config/utils/runners.ts
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .github/workflows/test-commons.yml
  packages/commons/bin/utils/functions.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

test
  .github/workflows/test-commons.yml
  packages/commons/bin/utils/functions.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/commons/bin/utils/functions.ts
  packages/commons/bin/utils/runners.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  .github/workflows/package.yml
  codecov.yml
Due: none

patch
  .yarn/patches/storybook-npm-9.1.1-16588253aa.patch
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

update badges
  packages/html-ui/README.md
  packages/react-ui/README.md
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

add report result and details
  packages/commons/bin/utils/reporters.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .github/workflows/bitbucket.yml
Due: none

refactor
  packages/commons/bin/utils/reporters.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  turbo.json
Due: none

refactor
  .husky/pre-commit
  package.json
  packages/commons/README.md
  packages/commons/lint-staged.base.config.ts
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  apps/svelte-app/package.json
  packages/commons/bin/utils/reporters.ts
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/bin/utils/reporters.ts
  turbo.json
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/react-ui/tsconfig.json
Due: Build and Test React UI, Build and Test Next App, Release

refactor
  bitbucket-pipelines.yml
Due: none

fix
  .yarn/patches/storybook-npm-9.1.2-59f0dbbde0.patch
  package.json
  packages/commons/.storybook/addons/README.md
  packages/html-ui/.storybook/preview.ts
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .github/workflows/sync.yml
Due: none

update pipelines
  bitbucket-pipelines.yml
Due: none

refactor
  packages/commons/.storybook/vite-main.ts
  packages/commons/.storybook/vitest.config.ts
  packages/commons/vitest.setup.ts
  packages/react-ui/tsconfig.dts.json
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/react-ui/src/utils/test/README.md
  packages/react-ui/src/utils/test/functions.ts
  packages/react-ui/stories/Examples/Page/Page.stories.ts
Due: Build and Test React UI, Build and Test Next App, Release

revert
  .github/workflows/package.yml
  codecov.yml
Due: none

patch
  .yarn/patches/storybook-npm-9.1.3-bc4674ae69.patch
  package.json
  yarn.lock
Due: Build and Test Commons, Build and Test Stylelint Config, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App

refactor
  .github/workflows/schedule.yml
  .github/workflows/sync.yml
Due: none

revert
  .github/workflows/schedule.yml
Due: none

update
  bitbucket-pipelines.yml
Due: none

fix
  bitbucket-pipelines.yml
Due: none

use Node 20 for vercel builds
  .github/workflows/apps.yml
  .github/workflows/test-app.yml
Due: none

Path conditions:
  Build and Test Commons: any of: package.json, packages/commons/**
  Build and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Build and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
