Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
    export DOTENV_KEY=$(echo $DOTENV_KEYS | jq -r .\"$PACKAGE_NAME\")
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
    yarn bootstrap
  
    '
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
  ...

Release:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 25
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  ...

refactor
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

skip release if any job is cancelled
  .github/workflows/ci.yml
Due: none

fix
  .github/workflows/ci.yml
Due: none

refactor
  .vscode/settings.default.json
  packages/commons/tsconfig.paths.json
  packages/html-ui/tsconfig.dist.json
  packages/react-ui/.storybook/main.ts
  packages/react-ui/.storybook/vite.config.ts
  packages/react-ui/tsconfig.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/commons/tsconfig.paths.json
  packages/react-ui/.storybook/main.ts
  packages/react-ui/.storybook/vite.config.ts
  packages/react-ui/tsconfig.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/html-ui/tsconfig.dist.json
  packages/react-ui/tsconfig.json
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/react-ui/package.json
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/react-ui/package.json
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

test
  packages/react-ui/package.json
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  packages/react-ui/tsconfig.json
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/commons/.storybook/utils/README.md
  packages/commons/.storybook/utils/functions.ts
  packages/commons/.storybook/utils/story-generators.ts
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/utils/functions.ts
  packages/react-ui/src/Button/Button.tsx
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/commons/.storybook/utils/story-generators.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/stylelint-config/plugins/order.ts
  packages/stylelint-config/rules/order.ts
  packages/stylelint-config/stylelint-scss.config.ts
  packages/stylelint-config/tsconfig.esm.json
  packages/stylelint-config/utils/functions.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

format
  packages/stylelint-config/plugins/order.ts
  packages/stylelint-config/rules/order.ts
  packages/stylelint-config/stylelint-scss.config.ts
  packages/stylelint-config/tsconfig.esm.json
  packages/stylelint-config/utils/functions.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

refactor
  packages/stylelint-config/lint-staged.config.js
  packages/stylelint-config/rules/order.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

revert
  .nvmrc
Due: none

recommend
  .vscode/extensions.json
Due: none

refactor
  packages/commons/.storybook/utils/functions.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  .yarnrc.yml
  WORKFLOWS.md
  apps/svelte-app/yarn.lock
  packages/react-ui/vite.config.ts
  yarn.lock
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  apps/svelte-app/yarn.lock
  packages/commons/vite.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/html-ui/package.json
  packages/html-ui/src/style.scss
  packages/html-ui/vite.config.ts
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Release

ignore lint rule
  packages/html-ui/src/style.scss
Due: Build and Test HTML UI, Build and Test React UI, Release

update lockfiles
  packages/unplugged/yarn.lock
  yarn.lock
Due: Release

fix
  bitbucket-pipelines.yml
Due: none

lockfile
  packages/unplugged/yarn.lock
  yarn.lock
Due: Release

refactor
  packages/commons/.storybook/addons/README.md
  packages/commons/.storybook/utils/story-generators.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix startup issues
  .nvmrc
  .vscode/extensions.json
  package.json
Due: none

update DEVELOPMENT
  DEVELOPMENT.md
Due: none

refactor
  apps/next-app/package.json
  apps/next-app/src/pages/index.tsx
  packages/react-ui/README.md
  packages/react-ui/src/Button/Button.module.scss
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/vite.config.ts
  yarn.lock
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/stories/Examples/Page/Page.stories.ts
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update rules
  packages/html-ui/stylelint.config.js
  packages/stylelint-config/rules/order.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

revert
  packages/commons/.storybook/utils/story-generators.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/html-ui/src/Button/PseudoStates/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
  packages/html-ui/src/Button/Sizes/Secondary.variants.ts
  packages/stylelint-config/plugins/order.ts
  packages/stylelint-config/tsconfig.json
Due: Build and Test HTML UI, Build and Test React UI, Release

revert
  packages/stylelint-config/plugins/order.ts
  packages/stylelint-config/tsconfig.json
Due: Build and Test HTML UI, Build and Test React UI, Release

support autoprefixer for stories
  apps/svelte-app/yarn.lock
  packages/commons/package.json
  packages/commons/postcss.config.mts
  packages/commons/vite.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

revert
  .yarnrc.yml
  bin/config-ci.ts
  bitbucket-pipelines.yml
  lint-staged.config.js
  package.json
  renovate.config.cjs
  turbo.json
Due: none

update storybook configs
  apps/svelte-app/yarn.lock
  packages/commons/.storybook/postcss.config.mts
  packages/commons/.storybook/preview.ts
  packages/commons/package.json
  packages/html-ui/README.md
  packages/react-ui/README.md
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/html-ui/.storybook/vite.config.ts
  packages/html-ui/vite.config.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

revert
  packages/html-ui/.storybook/vite.config.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

Path conditions:
  Build and Test Commons: any of: packages.json, packages/commons/**
  Build and Test HTML UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages.json, packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages.json, bin/bootstrap.ts, packages/commons/**, packages/react-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
