Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

Path conditions:
  Lint and Test Commons: any of: package.json, packages/commons/**
  Lint and Test Stylelint Config: any of: export YARN_GLOBAL_FOLDER=.temp/.yarn/berry
echo "YARN_GLOBAL_FOLDER=$YARN_GLOBAL_FOLDER" >> .env, package.json, packages/commons/**, packages/stylelint-config/**
  Lint and Test HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Lint and Test React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Lint and Test Next App: any of: package.json, packages/commons/**, packages/html-ui/**, packages/react-ui/**, apps/next-app/**
  Lint and Test Svelte App: any of: package.json, bin/bootstrap.ts, packages/commons/**, packages/html-ui/**, apps/svelte-app/**
  Deploy HTML UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Deploy React UI: any of: package.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Release: any of: .yarn/versions/**, apps/**, packages/**

update
  .github/workflows/sync.yml
Due: none

fix
  .github/workflows/sync.yml
Due: none

fix
  packages/react-ui/src/Button/Button.module.scss
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  packages/react-ui/src/Header/Header.module.scss
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  apps/next-app/eslint.config.js
  packages/commons/bin/utils/runners.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update docs
  packages/commons/.storybook/utils/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  packages/commons/eslint.config.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/package.json
  packages/commons/tsconfig.cjs.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/commons/README.md
  packages/html-ui/.storybook/preview.ts
  packages/react-ui/.storybook/preview.ts
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  packages/react-ui/.storybook/vite.config.ts
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/vite.config.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  yarn.lock
Due: none

workaround
  .yarnrc.yml
  packages/react-ui/tsconfig.json
  yarn.lock
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

fix
  packages/html-ui/src/Button/Button.module.scss
  packages/stylelint-config/modules.d.ts
  packages/stylelint-config/rules/order.ts
Due: Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/actions/release/action.yml
  .github/workflows/package.yml
  package.json
  packages/html-ui/README.md
  packages/html-ui/package.json
  packages/react-ui/.storybook/vitest.setup.ts
  packages/react-ui/README.md
  packages/react-ui/package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/ci.yml
  .github/workflows/package.yml
  .github/workflows/packages.yml
  packages/commons/package.json
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .github/workflows/package.yml
  .github/workflows/packages.yml
Due: none

refactor
  .github/workflows/launch.yml
  .github/workflows/package.yml
Due: none

fix
  .github/workflows/package.yml
Due: none

update
  packages/react-ui/vitest.config.ts
Due: Lint and Test React UI, Lint and Test Next App, Deploy React UI, Release

revert
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
  renovate.config.ts
Due: none

fix
  .github/workflows/ci.yml
  .github/workflows/package.yml
  .github/workflows/renovate.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
Due: none

revert (#4555)
  .github/workflows/ci.yml
  .github/workflows/launch.yml
  .github/workflows/package.yml
  .github/workflows/release.yml
  .github/workflows/renovate.yml
  .github/workflows/sync.yml
  .github/workflows/test-app.yml
  .github/workflows/test-commons.yml
  .github/workflows/version.yml
  renovate.config.ts
Due: none

refactor
  renovate.config.ts
  renovate.json
Due: none

fix
  packages/html-ui/vite.config.ts
  packages/react-ui/vite.config.ts
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  packages/html-ui/tsconfig.json
  packages/html-ui/turbo.json
  packages/react-ui/tsconfig.json
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  apps/svelte-app/svelte.config.js
  apps/svelte-app/tsconfig.json
  apps/svelte-app/vite.config.ts
  packages/react-ui/turbo.json
  turbo.json
Due: Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy React UI, Release

fix
  packages/html-ui/tsconfig.json
  packages/react-ui/tsconfig.json
Due: Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

refactor
  .github/workflows/package.yml
Due: none

refactor
  .github/workflows/sync.yml
Due: none

fix
  packages/commons/.prettierignore
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

update
  .prettierignore
  .vscode/settings.default.json
  packages/commons/.prettierignore
  packages/commons/eslint.config.ts
  packages/commons/package.json
  packages/commons/tsconfig.json
  packages/html-ui/.npmignore
  packages/html-ui/LICENSE
  packages/html-ui/package.json
  packages/html-ui/tsconfig.json
  packages/react-ui/.npmignore
  packages/react-ui/LICENSE
  packages/react-ui/package.json
  packages/react-ui/tsconfig.json
  tsconfig.json
  yarn.lock
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  .vscode/settings.default.json
Due: none

refactor
  eslint.config.ts
  packages/commons/README.md
Due: Lint and Test Commons, Lint and Test Stylelint Config, Lint and Test HTML UI, Lint and Test React UI, Lint and Test Next App, Lint and Test Svelte App, Deploy HTML UI, Deploy React UI, Release

fix
  codecov.yml
Due: none
