Repository psychobolt/vite-storybook-boilerplate: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

Build and Test Commons:
  max-time: 10
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=commons
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test HTML UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=html-ui
  - 'set -o pipefail
  
    export DOTENV_KEY=$(echo $DOTENV_KEYS | jq -r .\"$PACKAGE_NAME\")
  
  ...

Build and Test React UI:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=react-ui
  - 'set -o pipefail
  
  ...

Build and Test Next App:
  max-time: 15
  size: 2x
  caches:
  - yarn-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  - export PACKAGE_NAME=next-app
  - yarn install
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
    yarn workspace $PACKAGE_NAME turbo run build
  
    '

Build and Test Svelte App:
  max-time: 15
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  script:
  - export PACKAGE_NAME=svelte-app
  - corepack enable
  - 'yarn config set globalFolder .temp/.yarn/berry
  
    yarn install
  
    yarn bootstrap
  
    '
  - 'yarn workspace $PACKAGE_NAME turbo run lint
  
  ...

Release:
  image: atlassian/default-image:4@sha256:50233cc29af9aeb0f8b949064e82f5a81436f8e5a32bf32fb6626751d96884ac
  max-time: 25
  size: 2x
  caches:
  - pnpm-6b932ddd254658cc
  - unplugged-6b932ddd254658cc
  clone:
    enabled: true
    depth: 50
  script:
  ...

migrate to neostandard
  .yarnrc.yml
  apps/svelte-app/yarn.lock
  bin/ls-workspaces.ts
  package.json
  packages/commons/eslint.config.ts
  packages/commons/modules.d.ts
  packages/commons/package.json
  packages/html-ui/vite.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  apps/svelte-app/package.json
  packages/commons/.storybook/addons/addon-variants.ts
  packages/commons/prettier.config.ts
  packages/html-ui/modules.d.ts
  packages/html-ui/src/Button/Button.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .yarn/patches/@storybook-core-npm-8.3.6-61aacf56bf.patch
  package.json
  yarn.lock
Due: none

fix
  packages/html-ui/modules.d.ts
  packages/html-ui/src/Button/Sizes/Primary.variants.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

revert
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

update
  .env.defaults
  .yarn/patches/@storybook-core-npm-8.4.2-ce8ec351ea.patch
  package.json
  packages/commons/.storybook/vite-main.ts
  packages/react-ui/src/Button/Button.module.scss
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Header/Header.module.scss
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  bin/apply-versions.ts
  packages/commons/eslint.config.ts
  packages/commons/modules.d.ts
  packages/commons/package.json
  packages/react-ui/eslint.config.ts
  packages/stylelint-config/eslint.config.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/react-ui/src/Header/Header.tsx
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

refactor
  packages/html-ui/src/Button/Button.ts
  packages/html-ui/src/Header/Header.ts
  packages/html-ui/tsconfig.json
  packages/react-ui/src/Button/Button.module.scss
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Header/Header.module.scss
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/src/Header/Header.tsx
  packages/react-ui/stories/Examples/Page/Page.module.scss
  packages/react-ui/stories/Examples/Page/Page.stories.ts
  packages/react-ui/stories/Examples/Page/Page.tsx
  packages/react-ui/stories/Examples/Page/page.css
  packages/react-ui/tsconfig.json
  packages/react-ui/vite.config.ts
  packages/stylelint-config/stylelint-scss.config.ts
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/stylelint-config/rules/order.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

fix (#1804)
  packages/stylelint-config/rules/order.ts
Due: Build and Test HTML UI, Build and Test React UI, Release

fix
  .yarnrc.yml
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  packages/commons/package.json
  packages/commons/postcss.config.ts
  packages/commons/vite.config.ts
  packages/stylelint-config/package.json
  packages/unplugged/yarn.lock
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

update
  .github/workflows/ci.yml
  .github/workflows/packages.yml
  .github/workflows/pr-check.yml
  .github/workflows/test-package.yml
  .yarn/patches/@storybook-core-npm-8.4.7-69e17b4cab.patch
  .yarn/patches/vite-plugin-sass-glob-import-npm-4.0.0-96988ae2a6.patch
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

upgrade
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

upgrade
  apps/svelte-app/package.json
  yarn.lock
Due: Build and Test Svelte App, Release

lockfile
  apps/svelte-app/yarn.lock
Due: Build and Test Svelte App, Release

increase clone depth
  bitbucket-pipelines.yml
Due: none

fix
  .github/workflows/test-app.yml
Due: none

fix
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/package.json
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  apps/svelte-app/src/routes/styles.css
  packages/commons/package.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .yarn/patches/@storybook-core-npm-8.5.7-f059d24e6b.patch
  package.json
  packages/react-ui/tsconfig.json
  packages/react-ui/vite.config.ts
  yarn.lock
Due: Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .husky/pre-commit
  .prettierignore
  package.json
  packages/commons/lint-staged.config.js
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

format
  packages/commons/lint-staged.config.js
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

support vitest
  .vscode/extensions.json
  .yarn/patches/@storybook-core-npm-8.4.7-69e17b4cab.patch
  .yarn/patches/@storybook-core-npm-8.5.8-c2169a8fe3.patch
  .yarnrc.yml
  DEVELOPMENT.md
  apps/svelte-app/yarn.lock
  package.json
  packages/commons/.storybook/vite-main.ts
  packages/commons/.storybook/vitest.config.ts
  packages/commons/README.md
  packages/commons/package.json
  packages/commons/vitest.config.ts
  packages/html-ui/.storybook/main.ts
  packages/html-ui/package.json
  packages/html-ui/src/Button/Button.module.scss
  packages/html-ui/turbo.json
  packages/react-ui/.storybook/main.ts
  packages/react-ui/.storybook/vite.config.ts
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/.storybook/vitest.setup.ts
  packages/react-ui/package.json
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/src/Header/Header.tsx
  packages/react-ui/stories/Examples/Button/Button.stories.ts
  packages/react-ui/stories/Examples/Page/Page.module.scss
  packages/react-ui/stories/Examples/Page/Page.stories.ts
  packages/react-ui/turbo.json
  packages/react-ui/vitest.config.ts
  turbo.json
  vitest.workspace.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  apps/svelte-app/yarn.lock
  packages/commons/vitest.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  .env.defaults
Due: none

test
  .husky/pre-commit
  packages/commons/.storybook/vitest.config.ts
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

patch
  .github/workflows/test-package.yml
  apps/svelte-app/lint-staged.config.js
  lint-staged.config.js
  package.json
  packages/commons/.storybook/vite-main.ts
  packages/commons/.storybook/vitest.config.ts
  packages/commons/README.md
  packages/commons/lint-staged.base.config.ts
  packages/commons/lint-staged.config.js
  packages/commons/vitest.config.ts
  packages/html-ui/.storybook/main.ts
  packages/html-ui/lint-staged.config.js
  packages/react-ui/.storybook/vite.config.ts
  packages/react-ui/.storybook/vitest.config.ts
  packages/react-ui/.storybook/vitest.setup.ts
  packages/react-ui/lint-staged.config.js
  packages/react-ui/src/Button/Button.stories.ts
  packages/react-ui/src/Button/Button.tsx
  packages/react-ui/src/Header/Header.stories.ts
  packages/react-ui/turbo.json
  packages/react-ui/vitest.config.ts
  packages/stylelint-config/lint-staged.config.js
  turbo.json
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  packages/commons/package.json
  packages/stylelint-config/rules/order.ts
  yarn.lock
Due: Build and Test Commons, Build and Test HTML UI, Build and Test React UI, Build and Test Next App, Build and Test Svelte App, Release

fix
  apps/svelte-app/.yarnrc.yml
  apps/svelte-app/package.json
  package.json
  packages/stylelint-config/rules/order.ts
  yarn.lock
Due: Build and Test HTML UI, Build and Test React UI, Build and Test Svelte App, Release

revert
  vitest.workspace.ts
Due: none

refactor
  .env.defaults
  apps/svelte-app/package.json
  package.json
  yarn.lock
Due: Build and Test Svelte App, Release

patch
  .github/workflows/test-app.yml
  apps/svelte-app/package.json
  apps/svelte-app/yarn.lock
  yarn.lock
Due: Build and Test Svelte App, Release

test
  .yarnrc.yml
  apps/svelte-app/.yarnrc.yml
  bin/ls-workspaces.ts
Due: Build and Test Svelte App, Release

refactor
  bitbucket-pipelines.yml
Due: none

fix
  bitbucket-pipelines.yml
Due: none

Path conditions:
  Build and Test Commons: any of: packages.json, packages/commons/**
  Build and Test HTML UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**
  Build and Test React UI: any of: packages.json, packages/commons/**, packages/stylelint-config/**, packages/html-ui/**, packages/react-ui/**
  Build and Test Next App: any of: packages.json, packages/commons/**, packages/react-ui/**, apps/next-app/**
  Build and Test Svelte App: any of: packages.json, bin/bootstrap.ts, packages/commons/**, packages/react-ui/**, apps/svelte-app/**
  Release: any of: .yarn/versions/**, apps/**, packages/**
